<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page" ng-show="asset != null">		
			<div class="ui-content">
				<div class="ui-statusbar ui-statusbar-d" ng-show="message != null"><h3 class="ui-title">{{message}}</h3></div>
				<div class="section-header section-header-c">
<!-- 					<button class="section-back-button" ng-click="goBack()"> -->
<!-- 						<span class="emm-chevron-left section-center-image"></span> -->
<!-- 					</button> -->
					<div>
						<h1 class="section-header-title"><label translate="ASSET.ASSETNUM">Asset</label> {{asset.ASSETNUM}}</h1>
						<h2 class="section-header-subtitle">{{asset.DESCRIPTION}}</h2>
					</div>	
				</div>
			</div>
			<div ng-if="isLookup == false" class="section-action section-border-bottom">
				<button class="section-action-button" ng-click="showDetail(asset)">
					<span class="section-action-button-icon emm-share-square-o"></span>
					<span class="section-action-button-text" translate="DETAILS">Details</span>
				</button>
				<button class="section-action-button" ng-click="actions.createNewWorkOrder(asset)">
					<span class="section-action-button-icon emm-workorder"></span>
					<span class="section-action-button-text" translate="CREATEWO">Create Work Order</span>
				</button>		
				<button class="section-action-button" ng-click="openDialog()">
					<span class="section-action-button-icon emm-camera"></span>
					<span class="section-action-button-text" translate="TAKEPHOTO">Take Photo</span>
				</button>
			</div>
			<div ng-if="isLookup == true && mboObject != null" class="section-action section-border-bottom">
				<button class="section-action-button" ng-click="setValueAndGoBack()">
					<span class="section-action-button-icon emm-check-circle"></span>
					<span class="section-action-button-text" translate="SELECTVALUE">Select Value</span>
				</button>
			</div>
			<div class="section section-border-bottom">
				<a class="ui-image-detail section-center-image">
					<div class="section-block">	
						<img ng-src="{{docurlname}}" onerror="$(this).closest('.section').hide()">
					</div>
				</a>					
			</div>
			<div class="section section-border-bottom" id="qrcode"></div>
			<div class="section section-border-bottom">
				<div class="section-line">
					<span class="section-icon"><img src="../../images/pins/asset.png" width="25" height="31.25"></span>
					<span class="section-text">({{jsonParam.LATITUDEY}},{{jsonParam.LONGITUDEX}})</span>
				</div>
				<div class="section-line">
					<span class="section-icon section-icon-c emm-building"></span>
					<span class="section-text">{{extra.LOCDESC}}</span>
				</div>
			</div>
			<div class="section section-border-bottom">
				<div class="section-line section-line-c">
					<label  translate="ASSET.STATUS">Status</label>
					<span class="section-text">{{asset.STATUS}} ({{asset.STATUSDATE | date:'short'}})</span>
				</div>
				<div class="section-line section-line-c">
					<label  translate="ASSET.SITEID">Site</label>
					<span class="section-text">{{asset.SITEID}}</span>
				</div>
				<div class="section-line section-line-c">
					<label  translate="ASSET.PARENT">Parent</label>
					<span class="section-text">{{asset.PARENT}}</span>
				</div>
				<div class="section-line section-line-c">
					<label  translate="ASSET.SERIALNUM">Serial #</label>
					<span class="section-text">{{asset.SERIALNUM}}</span>
				</div>
				<div class="section-line section-line-c">
					<label  translate="ASSET.VENDOR">Vendor</label>
					<span class="section-text">{{asset.VENDOR}}</span>
				</div>
				<div class="section-line section-line-c">
					<label  translate="ASSET.MANUFACTURER">Manufacturer</label>
					<span class="section-text">{{asset.MANUFACTURER}}</span>
				</div>
			</div>	
			<div class="section section-border-bottom" ng-if="asset.LONGDESCRIPTION && asset.LONGDESCRIPTION != ''">
				<div class="section-block">
					<textarea data-htmleditor="true" ng-model="asset.LONGDESCRIPTION"></textarea>
				</div>				
			</div>
		</div>
		<div id="doctypedialog" class="ui-dialog">
			<div class="ui-container">
				<div class="ui-header">
					<h1 class="ui-title" translate="SELECTFOLDER">Select Folder</h1>
				</div>
				<div class="ui-content">			
					<ul class="ui-listview ui-radiobutton">	
						<li ng-repeat="d in doctypes track by $index">
							<label for="{{'check' + $index}}">{{d.DOCTYPE}}</label>
							<input type="radio" id="{{'check' + $index}}" name="doctype" ng-checked="d.DOCTYPE === doctype" ng-click="setDoctype(d.DOCTYPE)">
						</li>
					</ul>	
					<div class="ui-btn-container">
						<a class="ui-btn-b" href="#" data-dismiss="modal" translate="CANCEL">Cancel</a>
						<a class="ui-btn-a" href="#" ng-click="takePhoto()" data-dismiss="modal" translate="OK">OK</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function MainController($scope, $window, assetService, doclinksService, mapService, domainService) {
				var appName = 'ASSET';
				var viewName = 'offline/map/assetpin.htm';
				
// 				EMMServer.Offline.setSyncViewName(viewName);
				
				$scope.userInfo = EMMServer.DB.getUserInfo();
// 				$scope.TXNCOUNT = EMMServer.DB.getUserTxnCount();
// 				$scope.DOCREQUEST = EMMServer.DB.getUserDocRequest();
// 				$scope.TXNERRORCOUNT = EMMServer.DB.getUserTxnErrorCount();
// 				$scope.QueryIds = EMMServer.DB.getQueryIds();

				$scope.jsonParam = EMMServer.Session.getItem('JSONPARAM_DATA');

				// Init services
				assetService.init({
					userInfo : $scope.userInfo,
					viewName : viewName
				});
				
				mapService.init({
					userInfo : $scope.userInfo,
					viewName : viewName,
					entityName: "ASSET"
				});
				
				doclinksService.init({
					userInfo : $scope.userInfo,
					viewName : viewName,
					entityName: "ASSET"
				});
				
				$scope.actions = mapService.actions;
				
				// Get Asset object data
				var resultSet = EMMServer.DB.getQueryResult("ASSET");
				if (resultSet && resultSet[0]){
					$scope.asset = new Asset(resultSet[0]);
					// *Important* to set app name
					$scope.asset.mbo.appName(appName);
					new QRCode(document.getElementById("qrcode"), $scope.asset.ASSETNUM);
					$("#qrcode > img").css({"margin":"auto", "height": "150px", "width": "150px"});
					// Have to multiply the coordinates first by 1 to convert to a number
					// 7 decimal places for ease of viewing
					$scope.jsonParam.LONGITUDEX = ($scope.jsonParam.LONGITUDEX*1).toFixed(7);
					$scope.jsonParam.LATITUDEY = ($scope.jsonParam.LATITUDEY*1).toFixed(7);
				}
				
				// Map Lookup set up
				var pageData = EMMServer.Session.getItem('ASSETMAP_DATA');
				if (pageData != null) {
					$scope.mboObject = EMMServer.Session.getMboFromSession(pageData.cacheKey);
					var returnView = pageData.returnPage;
					$scope.crossoverFields = pageData.crossovers;
					
					// Initilaize domain service, with return page of previous object when lookup
					domainService.init({
						userInfo : $scope.userInfo,
						viewName : returnView
					});
					
					$scope.setValueAndGoBack = function() {
						$scope.asset.session.remove();
						domainService.mapLookup($scope.mboObject, "ASSETNUM", $scope.asset, $scope.crossoverFields);
					}
				}	
			
				var isLookup = EMMServer.Session.getItem('ISLOOKUP_DATA');
				if (isLookup != null) {
					$scope.isLookup = isLookup;
				}
				
				var messages = EMMServer.DB.getQueryResult("MESSAGE");
				if (messages)
					$scope.message = messages[0].DISPLAYMESSAGE;
				
				var extra = EMMServer.DB.getQueryResult("EXTRA");
				if (extra && extra[0])
					$scope.extra = extra[0];
				
				var doctypes = EMMServer.DB.getQueryResult("APPDOCTYPE");
				if (doctypes && doctypes[0]) {
					$scope.doctypes = doctypes;
					$scope.doctype = $scope.doctypes[0].DOCTYPE;
				}
				
				var docurlname = EMMServer.DB.getMapDocUrl();
				if (docurlname) {
					$scope.docurlname = docurlname;
				}
				
				$scope.showDetail = function() {
					$scope.asset.session.remove();
					assetService.showDetail($scope.asset, undefined, true);				
				}
				
				$scope.takePhoto = function(){
					$scope.asset.session.remove();
					doclinksService.createNew("ASSET", $scope.asset.ASSETUID, $scope.doctype);
				}

				$scope.openDialog = function() {
					emm.util.dialog("#doctypedialog");
				}
				
				$scope.setDoctype = function(doctype){
					$scope.doctype = doctype;
				}			
				
				// Callback should be declared on the $window, this overrides the doclinksSerice recordSaved so it redirects to the map instead
				$window.recordSaved = function(result) {
					EMMServer.DB.Select()
					.addMessage(getText('RECORDSAVED', null, 'Record Saved'))
					// New map DB select option, allows the native app to copy over the right attachment for viewing on the pin page
					.mapOfflineAttachment($scope.asset.ASSETUID, "ASSET")
					.go("offline/map/assetpin.htm");
				};
			}
		</script>
	</body>
</html>