<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
            <div class="ui-header ui-header-b">
                <a ng-click="goBack()" class="ui-btn-left" translate="BACK">Back</a>
                <h3 class="ui-title" translate="LABORTRANS">Labor Transactions</h3>
                <a ng-show="!mboObject.isInHistory()" ng-click="createNew(mboObject, laborInfo)" class="ui-btn-right"><img src="../../images/plus.png"/></a>
				<div class="ui-statusbar ui-statusbar-d" ng-show="message != null"><h3 class="ui-title">{{message}}</h3></div>
            </div>
			<div id="statusbar" class="ui-statusbar ui-statusbar-f">
				<h5 id="statusbarmsg" class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-statusbar ui-statusbar-c" ng-hide="labtrans">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
            <div class="ui-content">
            	<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
            	<ul class="ui-listview">
            		<li ng-repeat="lt in labtrans">
            			<a ng-click="showDetails(lt)">
	            			<span class="ui-accessory-left" ng-if="lt.mbo.isDirty()">
								<span class="ui-circle ui-circle-c"></span>
							</span>            			
	            			<h3>{{lt.LABORCODE}}</h3>
		                    <p>{{ 'LABTRANS.TIMERSTATUS' | translate }}: {{lt.TIMERSTATUS}}</p>
		                    <p>{{ 'LABTRANS.STARTDATE' | translate }}: {{lt.STARTDATE | date}}</p>
		                    <p>{{ 'End Date' | translate }}: {{lt.FINISHDATE | date}}</p>     
		                    <p>{{ 'LABTRANS.REGULARHRS' | translate }}: {{lt.REGULARHRS | number}}</p>
		                    <p>{{ 'LABTRANS.PREMIUMPAYHOURS' | translate }}: {{lt.PREMIUMPAYHOURS | number}}</p>
		                    <span class="ui-arrow"></span>
	                    </a>
            		</li>
            	</ul>
            	<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
            </div>
    	</div>
		<script type="text/javascript">
			function MainController($scope, labtransService, paginationService) {
				var queryName = 'LABTRANS';
				var laborInfo = 'LABORINFO';
				var viewName = 'offline/labtrans/main.htm';
				
				EMMServer.Offline.setSyncViewName(viewName);
				
				var pageData = EMMServer.Session.getItem('LABTRANS_DATA');
				$scope.mboObject = EMMServer.Session.getMboFromSession(pageData.cacheKey);

				$scope.userInfo = EMMServer.DB.getUserInfo();		
				// *Important* must instantiate the mboSet with app name
				$scope.labtrans = EMMServer.DB.getMboSet('LabTrans', queryName, $scope.mboObject.mbo.appName());
				$scope.laborInfo = EMMServer.DB.getQueryResult(laborInfo)[0];
				
				labtransService.init({
					userInfo : $scope.userInfo,
					viewName : viewName
				});
				
				paginationService.init({
					pagination : $scope.labtrans.getPagination(),
					queryName : queryName,
					viewName : viewName
				});				
				
				$scope.TXCOUNT = EMMServer.DB.getUserTxnCount();
				var messages = EMMServer.DB.getQueryResult("MESSAGE") || null;
				if (messages)
					$scope.message = messages[0].DISPLAYMESSAGE; 
				
				$scope.goBack = function(){
					EMMServer.DB.Select()
						.go(pageData.returnPage);
				}
				
				$scope.createNew = labtransService.createNew;
				$scope.showDetails = labtransService.showDetails;
			}
		</script>
	</body>
</html>