<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
            <div class="ui-header ui-header-b">
                <a ng-click="goBack()" class="ui-btn-left" translate="BACK">Back</a>
                <h3 class="ui-title" translate="WPMATERIAL.NAME">Planned Materials</h3>
                <a ng-click="createNew(mboObject)" class="ui-btn-right"><img src="../../images/plus.png"/></a>
				<div class="ui-statusbar ui-statusbar-d" ng-show="message != null"><h3 class="ui-title">{{message}}</h3></div>            
            </div>
			<div id="statusbar" class="ui-statusbar ui-statusbar-f">
				<h5 id="statusbarmsg" class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-statusbar ui-statusbar-c" ng-hide="wpmaterial">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
            <div class="ui-content">
            	<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
            	<ul class="ui-listview">
            		<li ng-repeat="w in wpmaterial">
            			<a ng-click="showDetails(w)">
	            			<span class="ui-accessory-left" ng-if="w.mbo.isDirty()">
								<span class="ui-circle ui-circle-c"></span>
							</span>
							<p>{{'WPMATERIAL.LINETYPE' | translate}}: {{w.LINETYPE}}</p>
	            			<h3 ng-hide="w.LINETYPE === 'MATERIAL'">{{'WPMATERIAL.ITEMNUM' | translate}}: {{w.ITEMNUM}}</h3>
	            			<p ng-hide="w.LINETYPE === 'MATERIAL'">{{'WPMATERIAL.DESCRIPTION' | translate}}: {{w.DESCRIPTION}}</p>
	            			<h3 ng-hide="w.LINETYPE === 'ITEM'">{{w.DESCRIPTION}}</h3>
		                    <p>{{'WPMATERIAL.ITEMQTY' | translate}}: {{w.ITEMQTY}}</p>
		                    <span class="ui-arrow"></span>
	                    </a>
            		</li>
            	</ul>
            	<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
            </div>
    	</div>
		<script type="text/javascript">
			function MainController($scope, wpmaterialService, paginationService) {
				var queryName = 'WPMATERIAL';
				var viewName = 'offline/wpmaterial/main.htm';
				EMMServer.Offline.setSyncViewName(viewName);
				
				var pageData = EMMServer.Session.getItem('WPMATERIAL_DATA');
				$scope.mboObject = EMMServer.Session.getMboFromSession(pageData.cacheKey);
				
				$scope.userInfo = EMMServer.DB.getUserInfo();	
				// *Important* must instantiate the mboSet with app name
				$scope.wpmaterial = EMMServer.DB.getMboSet('WPMaterial', queryName, $scope.mboObject.mbo.appName());
				$scope.TXNCOUNT = EMMServer.DB.getUserTxnCount();
				
				wpmaterialService.init({
					userInfo : $scope.userInfo,
					viewName : viewName
				});
				
				paginationService.init({
					pagination : $scope.wpmaterial.getPagination(),
					queryName : queryName,
					viewName : viewName
				});
				
				var messages = EMMServer.DB.getQueryResult("MESSAGE") || null;
				if(messages)
					$scope.message = messages[0].DISPLAYMESSAGE;
				
				$scope.goBack = function() {
					EMMServer.DB.Select()
						.go(pageData.returnPage);
				}
				
				$scope.createNew = wpmaterialService.createNew;
				$scope.showDetails = wpmaterialService.showDetails;
				
			}
		</script>
	</body>
</html>