<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:lang="http://www.springframework.org/schema/lang"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
	   default-lazy-init="false"> <!-- false == On, true == Off -->
	   
	<bean id="serverStartup" class="com.interprosoft.ezmaxmobile.ServerStartup" init-method="init"  lazy-init="false">
	</bean>
	
	<bean id="offlineResources" class="com.interprosoft.ezmaxmobile.offline.model.OfflineResources" scope="singleton">
	</bean>
	 	
	<bean id="baseOfflineDatabaseAction" class="com.interprosoft.ezmaxmobile.offline.action.BaseOfflineDatabaseAction" init-method="initdb">
	</bean>
	
	<bean id="baseOfflineInitAction" class="com.interprosoft.ezmaxmobile.offline.action.BaseOfflineInitAction" init-method="initdb">
	</bean>  
		
	<bean id="emmRequestTracker" class="com.interprosoft.ezmaxmobile.offline.model.EMMRequestTracker">
	</bean>
			
	<bean id="baseOfflineSavedQueryAction" class="com.interprosoft.ezmaxmobile.offline.action.BaseOfflineSavedQueryAction" init-method="init">
	</bean>
	
	<bean id="baseLicenseSyncAction" class="com.interprosoft.ezmaxmobile.admin.action.BaseLicenseSyncAction">
	</bean>
		
	<bean id="dbcron" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="triggerForDBCleanup"/>
				<ref bean="triggerForDBCache"/>
				<ref bean="triggerForOfflineDBCleanup"/>
				<ref bean="triggerForSyncQueries"/>
				<ref bean="triggerForLicenseUpdate"/>
			</list>
		</property>
	</bean>
	
	<bean id="triggerForDBCache" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="baseOfflineDatabaseAction"/>
				<property name="targetMethod" value="cacheDB"/>
				<property name="concurrent" value="false"/>
			</bean>
		</property>
		<property name="startDelay" value="300000"/>
		<property name="repeatInterval" value="3600000"/> <!-- 3600000 = Repeat Hourly -->
	</bean>
	
	<bean id="triggerForOfflineDBCleanup" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail">
			<bean id="sqliteCleanupSynchronizeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="baseOfflineDatabaseAction"/>
				<property name="targetMethod" value="sqliteCleanup"/>
				<property name="concurrent" value="false"/>
			</bean>
		</property>
		<property name="startDelay" value="15000"/>
		<property name="repeatInterval" value="3600000"/> <!-- 3600000 = Repeat Hourly -->
	</bean>
	
	<bean id="triggerForDBCleanup" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="baseOfflineInitAction"/>
				<property name="targetMethod" value="dbCleanup"/>
				<property name="concurrent" value="false"/>
			</bean>
		</property>
		<property name="startDelay" value="0"/>
		<property name="repeatInterval" value="86400000"/> <!-- Once a day -->
	</bean>
	
	<bean id="triggerForSyncQueries" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="baseOfflineSavedQueryAction"/>
				<property name="targetMethod" value="syncQueries"/>
				<property name="concurrent" value="false"/>
			</bean>
		</property>
		<property name="startDelay" value="0"/>
		<property name="repeatInterval" value="3600000"/> <!-- 3600000 = Repeat Hourly -->
	</bean>
	<bean id="triggerForLicenseUpdate" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="baseLicenseSyncAction"/>
				<property name="targetMethod" value="syncLicense"/>
				<property name="concurrent" value="false"/>
			</bean>
		</property>
		<property name="startDelay" value="60000"/>
		<property name="repeatInterval" value="3600000"/> <!-- 3600000 = Repeat Hourly -->
	</bean>
</beans>

