<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
            <div class="ui-header ui-header-b">
                <a ng-click="goBack()" class="ui-btn-left"><span class="emm-chevron-left"></span></a>
                <h3 class="ui-title" translate="TOOLS">Tools</h3>
                <a ng-show="!mboObject.isInHistory()" ng-click="createNew(mboObject)" class="ui-btn-right"><span class="emm-plus"></span></a>
				<div class="ui-statusbar ui-statusbar-d" ng-show="message != null"><h3 class="ui-title">{{message}}</h3></div>            
            </div>
            <div id="statusbar" class="ui-statusbar ui-statusbar-f">
				<h5 id="statusbarmsg" class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-statusbar ui-statusbar-c" ng-hide="tooltrans">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
            <div class="ui-content">
            	<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
            	<ul class="ui-listview">
            		<li ng-repeat="tt in tooltrans">
            			<a ng-click="showDetails(tt)">
            				<span class="ui-accessory-left" ng-if="tt.mbo.isDirty()">
								<span class="ui-circle ui-circle-c"></span>
							</span>
            				<h3>{{tt.ITEMNUM}}</h3>
							<!-- <h3>{{mt.DESCRIPTION}}</h3> -->
		                    <p>Quantity: {{tt.TOOLQTY}}</p>
		                     <p>Rate: {{tt.TOOLRATE}}</p>
		                    <p>Location: {{tt.LOCATION}}</p> 
		                     <p>Asset: {{tt.ASSETNUM}}</p> 
		                    <span class="ui-arrow"></span>
	                    </a>
            		</li>
            	</ul>
            	<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
            </div>
    	</div>
	</body>
	<script type="text/javascript">
		function MainController($scope, tooltransService, paginationService) {
			var queryName = 'TOOLTRANS';
			var viewName = 'offline/tooltrans/main.htm';
			
			EMMServer.Offline.setSyncViewName(viewName);
			
			$scope.userInfo = EMMServer.DB.getUserInfo();
		
			var pageData = EMMServer.Session.getItem('TOOLTRANS_DATA');
			$scope.mboObject = EMMServer.Session.getMboFromSession(pageData.cacheKey);			
			
			// *Important* must instantiate the mboSet with app name
			$scope.tooltrans = EMMServer.DB.getMboSet('ToolTrans', queryName, $scope.mboObject.mbo.appName());			
			
			tooltransService.init({
				userInfo : $scope.userInfo,
				viewName : viewName
			});
			
			paginationService.init({
				pagination : $scope.tooltrans.getPagination(),
				queryName : queryName,
				viewName : viewName
			});			
			
			$scope.TXCOUNT = EMMServer.DB.getUserTxnCount();
			var messages = EMMServer.DB.getQueryResult("MESSAGE") || null;
			if (messages)
				$scope.message = messages[0].DISPLAYMESSAGE; 
			
			$scope.goBack = function(){
				EMMServer.DB.Select()
					.go(pageData.returnPage);
			}
			
			$scope.createNew = tooltransService.createNew;
			$scope.showDetails = tooltransService.showDetails;
		}
	</script>
</html>