<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
			<div class="ui-header ui-header-b">
				<a ng-click="goBack()" class="ui-btn-left"><span class="emm-chevron-left"></span></a>
				<h3 class="ui-title" translate="EZMAXMOBILE.WOTRACK">Work Order Tracking</h3>
				<a ng-click="barcodeScan()" class="ui-btn-right"><span class="emm-barcode-3"></span></a>
			</div>
			<div class="ui-statusbar ui-statusbar-f">
				<h5 class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-searchbar">
				<form ng-submit="quickSearch()">
					<input type="search" placeholder="{{ 'QUICKSEARCH' | translate }}" ng-model="pageService.search"/>
					<a class="ui-btn-side ui-btn-side-b" ng-click="advancedSearch()" translate="ADVANCED">Advanced</a>		
				</form>
			</div>
			<div class="ui-statusbar ui-statusbar-c" ng-hide="workorders">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
			<div class="ui-content">
				<ul class="ui-listview">
					<li class="ui-field ui-sort">
						<label translate="SORTBY">Sort By</label>
						<select ng-change="pageService.changeSortBy()" ng-model="pageService.sortBy" ng-options="o.label for o in pageService.sortOptions">
						</select>
						<a ng-click="pageService.changeSortDirection()" class="ui-btn-sort"><span data-sortorder="{{pageService.sortDirection}}"></span></a>
					</li>
				</ul>
				<ul class="ui-listview" ng-show="workorders">
					<li class="ui-divider ui-divider-c" translate="LIST">List</li>
					<li ng-show="userInfo.nativeAppSettings.emmMapEnabled">
						<a data-control="map" data-modules='["DS_WORKORDERS"]' data-datasources='{{dataSources}}'>
							<span class="emm-map-location"></span>
							<h3 translate="OPENMAP">Open Map</h3>
							<span class="ui-arrow"></span>
						</a>
					</li>					
				</ul>
				
			    <ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
				
				<ul class="ui-listview" ng-repeat="wo in workorders">
					<li>
						<a ng-click="showDetail(wo)">
							<span class="ui-accessory-left" ng-if="wo.mbo.isDirty()">
								<span class="ui-circle ui-circle-c"></span>
							</span>
							<p class="ui-aside">{{wo.SITEID}}</p>
							<p><strong>{{wo.WONUM}} ({{wo.STATUS}})</strong></p>
							<h3>{{wo.DESCRIPTION}}</h3>
							<p>{{ 'WORKORDER.LOCATION' | translate }}: {{wo.LOCATION}}</p>
							<p>{{ 'WORKORDER.LEAD' | translate }}: {{wo.LEAD}}</p>
							<span class="ui-arrow"></span>
						</a>
					</li>
				</ul>
				
			    <ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>

			</div>
		</div>
		<script type="text/javascript">
			function MainController ($scope, $window, $filter, applicationService, wotrackService, paginationService, mapService){
				var viewName = 'offline/wotrack/list.htm',
					queryName = 'WORKORDER',
					appName = 'WOTRACK';
				
				EMMServer.Offline.setSyncViewName(viewName);
				
				$scope.userInfo = EMMServer.DB.getUserInfo();
				$scope.workorders = EMMServer.DB.getMboSet('WorkOrder', queryName);				
				
				wotrackService.init({
					userInfo : $scope.userInfo
				});						
				
				paginationService.init({
					pagination : $scope.workorders.getPagination(),
					queryName : queryName,
					viewName : viewName,
					sortOptions : [
									{ label : getText('SELECTVALUE', null, 'Select Value'), value : ''},
									{ label : getText('WORKORDER.WONUM', null, 'Work Order'), value : 'WONUM'},
									{ label : getText('WORKORDER.REPORTDATE', null, 'Report Date'), value : 'REPORTDATE'},
									{ label : getText('WORKORDER.LOCATION', null, 'Location'), value : 'LOCATION'},
									{ label : getText('WORKORDER.STATUS', null, 'Status'), value : 'STATUS'},
									{ label : getText('WORKORDER.SUPERVISOR', null, 'Supervisor'), value : 'SUPERVISOR'},
									{ label : getText('WORKORDER.AMCREW', null, 'Crew ID'), value : 'AMCREW'},
									{ label : getText('WORKORDER.LEAD', null, 'Lead'), value : 'LEAD'},
									{ label : getText('WORKORDER.WOPRIORITY', null, 'Priority'), value : 'WOPRIORITY'}
								]
				});
				$scope.pageService = paginationService;
				
				mapService.init({
					userInfo : $scope.userInfo
				});
				
				$scope.dataSources = mapService.getOptions().dataSources;
				
				$scope.showDetail = wotrackService.showDetail;
				
				$scope.goBack = function(){
					$scope.pageService.clearCache();					
					applicationService.goToApp(appName);
				}
				
				$scope.barcodeScan = function (){
					EMMServer.Barcode.scan('scan')
				};
				
				$window.scan = function(/*Scan Value*/ val){
					$scope.pageService.search = val;
					$scope.quickSearch();	
				}
				
				$scope.quickSearch = function() {
					wotrackService.toList($scope.pageService.search);
				}
				
				$scope.advancedSearch = wotrackService.toAdvancedSearch;
			}
		</script>		
	</body>
</html>
