@charset "UTF-8";

@font-face {
  font-family: "ezmaxmobile";
  src:url("fonts/ezmaxmobile.eot");
  src:url("fonts/ezmaxmobile.eot?#iefix") format("embedded-opentype"),
    url("fonts/ezmaxmobile.woff") format("woff"),
    url("fonts/ezmaxmobile.ttf") format("truetype"),
    url("fonts/ezmaxmobile.svg#ezmaxmobile") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ezmaxmobile" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="emm-"]:before,
[class*=" emm-"]:before {
  font-family: "ezmaxmobile" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.emm-add-new:before {
  content: "\e000";
}
.emm-add:before {
  content: "\e001";
}
.emm-add-bin:before {
  content: "\e002";
}
.emm-asset:before {
  content: "\e003";
}
.emm-move-asset:before {
  content: "\e004";
}
.emm-attachments:before {
  content: "\e005";
}
.emm-balance:before {
  content: "\e006";
}
.emm-barcode-2:before {
  content: "\e007";
}
.emm-barcode-3:before {
  content: "\e008";
}
.emm-bookmark-1:before {
  content: "\e009";
}
.emm-bulletin:before {
  content: "\e00a";
}
.emm-camera-1:before {
  content: "\e00b";
}
.emm-status:before {
  content: "\e00c";
}
.emm-pie:before {
  content: "\e00d";
}
.emm-square-box:before {
  content: "\e00e";
}
.emm-checkbox:before {
  content: "\e00f";
}
.emm-classification:before {
  content: "\e011";
}
.emm-clipboard-1:before {
  content: "\e012";
}
.emm-addnew-1:before {
  content: "\e013";
}
.emm-communication:before {
  content: "\e014";
}
.emm-dashboard:before {
  content: "\e015";
}
.emm-date:before {
  content: "\e016";
}
.emm-download-1:before {
  content: "\e017";
}
.emm-downtime:before {
  content: "\e018";
}
.emm-message:before {
  content: "\e019";
}
.emm-camera-2:before {
  content: "\e01a";
}
.emm-failurereport:before {
  content: "\e01b";
}
.emm-gas:before {
  content: "\e01c";
}
.emm-health:before {
  content: "\e01d";
}
.emm-image:before {
  content: "\e01e";
}
.emm-inbox-1:before {
  content: "\e01f";
}
.emm-inspect:before {
  content: "\e020";
}
.emm-inventory-usage:before {
  content: "\e021";
}
.emm-items:before {
  content: "\e022";
}
.emm-labor:before {
  content: "\e023";
}
.emm-location:before {
  content: "\e024";
}
.emm-email:before {
  content: "\e025";
}
.emm-map-location:before {
  content: "\e026";
}
.emm-map-pin-1:before {
  content: "\e027";
}
.emm-material:before {
  content: "\e028";
}
.emm-menu:before {
  content: "\e029";
}
.emm-meter:before {
  content: "\e02a";
}
.emm-minus-1:before {
  content: "\e02b";
}
.emm-notification:before {
  content: "\e02c";
}
.emm-offline:before {
  content: "\e02d";
}
.emm-oil:before {
  content: "\e02e";
}
.emm-online:before {
  content: "\e02f";
}
.emm-other:before {
  content: "\e030";
}
.emm-phone-1:before {
  content: "\e031";
}
.emm-purchase-1:before {
  content: "\e032";
}
.emm-checklist:before {
  content: "\e033";
}
.emm-printer:before {
  content: "\e034";
}
.emm-purchase:before {
  content: "\e035";
}
.emm-receipts:before {
  content: "\e036";
}
.emm-reports:before {
  content: "\e037";
}
.emm-reserved:before {
  content: "\e038";
}
.emm-return:before {
  content: "\e03a";
}
.emm-return-items:before {
  content: "\e03b";
}
.emm-route-workflow:before {
  content: "\e03c";
}
.emm-owner-select:before {
  content: "\e03d";
}
.emm-sign:before {
  content: "\e03e";
}
.emm-service-request:before {
  content: "\e03f";
}
.emm-startcenter:before {
  content: "\e040";
}
.emm-start-timer:before {
  content: "\e041";
}
.emm-sync:before {
  content: "\e042";
}
.emm-tags-1:before {
  content: "\e043";
}
.emm-owner-select-1:before {
  content: "\e044";
}
.emm-tasks-1:before {
  content: "\e045";
}
.emm-touchid:before {
  content: "\e046";
}
.emm-transfer:before {
  content: "\e047";
}
.emm-transportation:before {
  content: "\e048";
}
.emm-trashcan:before {
  content: "\e049";
}
.emm-user-group:before {
  content: "\e04a";
}
.emm-work-list:before {
  content: "\e04b";
}
.emm-workflow:before {
  content: "\e04c";
}
.emm-actions:before {
  content: "\e04d";
}
.emm-double-chevron-right:before {
  content: "\e04e";
}
.emm-double-chevron-left:before {
  content: "\e04f";
}
.emm-calendar-1:before {
  content: "\e050";
}
.emm-calibration:before {
  content: "\e051";
}
.emm-dashboard-1:before {
  content: "\e052";
}
.emm-datasheet:before {
  content: "\e053";
}
.emm-inspect-1:before {
  content: "\e054";
}
.emm-inventory:before {
  content: "\e055";
}
.emm-multi-asset:before {
  content: "\e056";
}
.emm-notes:before {
  content: "\e057";
}
.emm-reconcile:before {
  content: "\e058";
}
.emm-related-records:before {
  content: "\e059";
}
.emm-stop-timer:before {
  content: "\e05a";
}
.emm-stop-workflow:before {
  content: "\e05b";
}
.emm-workorder:before {
  content: "\e05c";
}
.emm-stack-records:before {
  content: "\e05d";
}
.emm-angle-double-left:before {
  content: "\e05e";
}
.emm-angle-double-right:before {
  content: "\e05f";
}
.emm-angle-double-up:before {
  content: "\e060";
}
.emm-angle-down:before {
  content: "\e061";
}
.emm-angle-left:before {
  content: "\e062";
}
.emm-angle-right:before {
  content: "\e063";
}
.emm-angle-up:before {
  content: "\e064";
}
.emm-apple:before {
  content: "\e065";
}
.emm-archive:before {
  content: "\e066";
}
.emm-area-chart:before {
  content: "\e067";
}
.emm-arrow-circle-down:before {
  content: "\e068";
}
.emm-arrow-circle-left:before {
  content: "\e069";
}
.emm-arrow-circle-o-down:before {
  content: "\e06a";
}
.emm-arrow-circle-o-left:before {
  content: "\e06b";
}
.emm-arrow-circle-o-right:before {
  content: "\e06c";
}
.emm-arrow-circle-o-up:before {
  content: "\e06d";
}
.emm-arrow-circle-right:before {
  content: "\e06e";
}
.emm-arrow-circle-up:before {
  content: "\e06f";
}
.emm-arrow-down:before {
  content: "\e070";
}
.emm-arrow-left:before {
  content: "\e071";
}
.emm-arrow-right:before {
  content: "\e072";
}
.emm-arrow-up:before {
  content: "\e073";
}
.emm-arrows:before {
  content: "\e074";
}
.emm-arrows-alt:before {
  content: "\e075";
}
.emm-arrows-h:before {
  content: "\e076";
}
.emm-arrows-v:before {
  content: "\e077";
}
.emm-asterisk:before {
  content: "\e078";
}
.emm-at:before {
  content: "\e079";
}
.emm-backward:before {
  content: "\e07a";
}
.emm-balance-scale:before {
  content: "\e07b";
}
.emm-ban:before {
  content: "\e07c";
}
.emm-bar-chart:before {
  content: "\e07d";
}
.emm-barcode:before {
  content: "\e07e";
}
.emm-bars:before {
  content: "\e07f";
}
.emm-battery-empty:before {
  content: "\e080";
}
.emm-battery-full:before {
  content: "\e081";
}
.emm-battery-half:before {
  content: "\e082";
}
.emm-battery-quarter:before {
  content: "\e083";
}
.emm-battery-three-quarters:before {
  content: "\e084";
}
.emm-bed:before {
  content: "\e085";
}
.emm-beer:before {
  content: "\e086";
}
.emm-behance:before {
  content: "\e087";
}
.emm-behance-square:before {
  content: "\e088";
}
.emm-bell:before {
  content: "\e089";
}
.emm-bell-o:before {
  content: "\e08a";
}
.emm-bell-slash:before {
  content: "\e08b";
}
.emm-bell-slash-o:before {
  content: "\e08c";
}
.emm-bicycle:before {
  content: "\e08d";
}
.emm-binoculars:before {
  content: "\e08e";
}
.emm-birthday-cake:before {
  content: "\e08f";
}
.emm-bitbucket:before {
  content: "\e090";
}
.emm-bitbucket-square:before {
  content: "\e091";
}
.emm-black-tie:before {
  content: "\e092";
}
.emm-bold:before {
  content: "\e093";
}
.emm-bolt:before {
  content: "\e094";
}
.emm-bomb:before {
  content: "\e095";
}
.emm-book:before {
  content: "\e096";
}
.emm-bookmark:before {
  content: "\e097";
}
.emm-bookmark-o:before {
  content: "\e098";
}
.emm-briefcase:before {
  content: "\e099";
}
.emm-btc:before {
  content: "\e09a";
}
.emm-bug:before {
  content: "\e09b";
}
.emm-building:before {
  content: "\e09c";
}
.emm-building-o:before {
  content: "\e09d";
}
.emm-bullhorn:before {
  content: "\e09e";
}
.emm-bullseye:before {
  content: "\e09f";
}
.emm-bus:before {
  content: "\e0a0";
}
.emm-buysellads:before {
  content: "\e0a1";
}
.emm-calculator:before {
  content: "\e0a2";
}
.emm-calendar:before {
  content: "\e0a3";
}
.emm-calendar-check-o:before {
  content: "\e0a4";
}
.emm-calendar-minus-o:before {
  content: "\e0a5";
}
.emm-calendar-o:before {
  content: "\e0a6";
}
.emm-calendar-plus-o:before {
  content: "\e0a7";
}
.emm-calendar-times-o:before {
  content: "\e0a8";
}
.emm-camera:before {
  content: "\e0a9";
}
.emm-camera-retro:before {
  content: "\e0aa";
}
.emm-car:before {
  content: "\e0ab";
}
.emm-caret-down:before {
  content: "\e0ac";
}
.emm-caret-left:before {
  content: "\e0ad";
}
.emm-caret-right:before {
  content: "\e0ae";
}
.emm-caret-square-o-down:before {
  content: "\e0af";
}
.emm-caret-square-o-left:before {
  content: "\e0b0";
}
.emm-caret-square-o-right:before {
  content: "\e0b1";
}
.emm-caret-square-o-up:before {
  content: "\e0b2";
}
.emm-caret-up:before {
  content: "\e0b3";
}
.emm-cart-arrow-down:before {
  content: "\e0b4";
}
.emm-cart-plus:before {
  content: "\e0b5";
}
.emm-cc:before {
  content: "\e0b6";
}
.emm-cc-amex:before {
  content: "\e0b7";
}
.emm-cc-diners-club:before {
  content: "\e0b8";
}
.emm-cc-discover:before {
  content: "\e0b9";
}
.emm-cc-jcb:before {
  content: "\e0ba";
}
.emm-cc-mastercard:before {
  content: "\e0bb";
}
.emm-cc-paypal:before {
  content: "\e0bc";
}
.emm-cc-stripe:before {
  content: "\e0bd";
}
.emm-cc-visa:before {
  content: "\e0be";
}
.emm-certificate:before {
  content: "\e0bf";
}
.emm-chain-broken:before {
  content: "\e0c0";
}
.emm-check:before {
  content: "\e0c1";
}
.emm-check-circle:before {
  content: "\e0c2";
}
.emm-check-circle-o:before {
  content: "\e0c3";
}
.emm-check-square:before {
  content: "\e0c4";
}
.emm-check-square-o:before {
  content: "\e0c5";
}
.emm-chevron-circle-down:before {
  content: "\e0c6";
}
.emm-chevron-circle-left:before {
  content: "\e0c7";
}
.emm-chevron-circle-right:before {
  content: "\e0c8";
}
.emm-chevron-circle-up:before {
  content: "\e0c9";
}
.emm-chevron-down:before {
  content: "\e0ca";
}
.emm-chevron-left:before {
  content: "\e0cb";
}
.emm-chevron-right:before {
  content: "\e0cc";
}
.emm-chevron-up:before {
  content: "\e0cd";
}
.emm-child:before {
  content: "\e0ce";
}
.emm-chrome:before {
  content: "\e0cf";
}
.emm-circle:before {
  content: "\e0d0";
}
.emm-circle-o:before {
  content: "\e0d1";
}
.emm-circle-o-notch:before {
  content: "\e0d2";
}
.emm-circle-thin:before {
  content: "\e0d3";
}
.emm-clipboard:before {
  content: "\e0d4";
}
.emm-clock-o:before {
  content: "\e0d5";
}
.emm-clone:before {
  content: "\e0d6";
}
.emm-cloud:before {
  content: "\e0d7";
}
.emm-cloud-download:before {
  content: "\e0d8";
}
.emm-cloud-upload:before {
  content: "\e0d9";
}
.emm-code:before {
  content: "\e0da";
}
.emm-code-fork:before {
  content: "\e0db";
}
.emm-codepen:before {
  content: "\e0dc";
}
.emm-coffee:before {
  content: "\e0dd";
}
.emm-cog:before {
  content: "\e0de";
}
.emm-cogs:before {
  content: "\e0df";
}
.emm-columns:before {
  content: "\e0e0";
}
.emm-comment:before {
  content: "\e0e1";
}
.emm-comment-o:before {
  content: "\e0e2";
}
.emm-commenting:before {
  content: "\e0e3";
}
.emm-commenting-o:before {
  content: "\e0e4";
}
.emm-comments:before {
  content: "\e0e5";
}
.emm-comments-o:before {
  content: "\e0e6";
}
.emm-compass:before {
  content: "\e0e7";
}
.emm-compress:before {
  content: "\e0e8";
}
.emm-connectdevelop:before {
  content: "\e0e9";
}
.emm-contao:before {
  content: "\e0ea";
}
.emm-copyright:before {
  content: "\e0eb";
}
.emm-creative-commons:before {
  content: "\e0ec";
}
.emm-credit-card:before {
  content: "\e0ed";
}
.emm-crop:before {
  content: "\e0ee";
}
.emm-crosshairs:before {
  content: "\e0ef";
}
.emm-css3:before {
  content: "\e0f0";
}
.emm-cube:before {
  content: "\e0f1";
}
.emm-cubes:before {
  content: "\e0f2";
}
.emm-cutlery:before {
  content: "\e0f3";
}
.emm-dashcube:before {
  content: "\e0f4";
}
.emm-database:before {
  content: "\e0f5";
}
.emm-delicious:before {
  content: "\e0f6";
}
.emm-desktop:before {
  content: "\e0f7";
}
.emm-deviantart:before {
  content: "\e0f8";
}
.emm-diamond:before {
  content: "\e0f9";
}
.emm-digg:before {
  content: "\e0fa";
}
.emm-dot-circle-o:before {
  content: "\e0fb";
}
.emm-download:before {
  content: "\e0fc";
}
.emm-dribbble:before {
  content: "\e0fd";
}
.emm-dropbox:before {
  content: "\e0fe";
}
.emm-drupal:before {
  content: "\e0ff";
}
.emm-eject:before {
  content: "\e100";
}
.emm-ellipsis-h:before {
  content: "\e101";
}
.emm-ellipsis-v:before {
  content: "\e102";
}
.emm-empire:before {
  content: "\e103";
}
.emm-envelope:before {
  content: "\e104";
}
.emm-envelope-o:before {
  content: "\e105";
}
.emm-envelope-square:before {
  content: "\e106";
}
.emm-eraser:before {
  content: "\e107";
}
.emm-eur:before {
  content: "\e108";
}
.emm-exchange:before {
  content: "\e109";
}
.emm-exclamation:before {
  content: "\e10a";
}
.emm-exclamation-circle:before {
  content: "\e10b";
}
.emm-exclamation-triangle:before {
  content: "\e10c";
}
.emm-expand:before {
  content: "\e10d";
}
.emm-expeditedssl:before {
  content: "\e10e";
}
.emm-external-link:before {
  content: "\e10f";
}
.emm-external-link-square:before {
  content: "\e110";
}
.emm-eye:before {
  content: "\e111";
}
.emm-eye-slash:before {
  content: "\e112";
}
.emm-eyedropper:before {
  content: "\e113";
}
.emm-facebook:before {
  content: "\e114";
}
.emm-facebook-official:before {
  content: "\e115";
}
.emm-facebook-square:before {
  content: "\e116";
}
.emm-fast-backward:before {
  content: "\e117";
}
.emm-fast-forward:before {
  content: "\e118";
}
.emm-fax:before {
  content: "\e119";
}
.emm-female:before {
  content: "\e11a";
}
.emm-fighter-jet:before {
  content: "\e11b";
}
.emm-file:before {
  content: "\e11c";
}
.emm-file-archive-o:before {
  content: "\e11d";
}
.emm-file-audio-o:before {
  content: "\e11e";
}
.emm-file-code-o:before {
  content: "\e11f";
}
.emm-file-excel-o:before {
  content: "\e120";
}
.emm-file-image-o:before {
  content: "\e121";
}
.emm-file-o:before {
  content: "\e122";
}
.emm-file-pdf-o:before {
  content: "\e123";
}
.emm-file-powerpoint-o:before {
  content: "\e124";
}
.emm-file-text:before {
  content: "\e125";
}
.emm-file-text-o:before {
  content: "\e126";
}
.emm-file-video-o:before {
  content: "\e127";
}
.emm-file-word-o:before {
  content: "\e128";
}
.emm-files-o:before {
  content: "\e129";
}
.emm-film:before {
  content: "\e12a";
}
.emm-filter:before {
  content: "\e12b";
}
.emm-fire:before {
  content: "\e12c";
}
.emm-fire-extinguisher:before {
  content: "\e12d";
}
.emm-firefox:before {
  content: "\e12e";
}
.emm-flag:before {
  content: "\e12f";
}
.emm-flag-checkered:before {
  content: "\e130";
}
.emm-flag-o:before {
  content: "\e131";
}
.emm-flask:before {
  content: "\e132";
}
.emm-flickr:before {
  content: "\e133";
}
.emm-floppy-o:before {
  content: "\e134";
}
.emm-folder:before {
  content: "\e135";
}
.emm-folder-o:before {
  content: "\e136";
}
.emm-folder-open:before {
  content: "\e137";
}
.emm-folder-open-o:before {
  content: "\e138";
}
.emm-font:before {
  content: "\e139";
}
.emm-fonticons:before {
  content: "\e13a";
}
.emm-forumbee:before {
  content: "\e13b";
}
.emm-forward:before {
  content: "\e13c";
}
.emm-foursquare:before {
  content: "\e13d";
}
.emm-frown-o:before {
  content: "\e13e";
}
.emm-futbol-o:before {
  content: "\e13f";
}
.emm-gamepad:before {
  content: "\e140";
}
.emm-gavel:before {
  content: "\e141";
}
.emm-gbp:before {
  content: "\e142";
}
.emm-genderless:before {
  content: "\e143";
}
.emm-get-pocket:before {
  content: "\e144";
}
.emm-gg:before {
  content: "\e145";
}
.emm-gg-circle:before {
  content: "\e146";
}
.emm-gift:before {
  content: "\e147";
}
.emm-git:before {
  content: "\e148";
}
.emm-git-square:before {
  content: "\e149";
}
.emm-github:before {
  content: "\e14a";
}
.emm-github-alt:before {
  content: "\e14b";
}
.emm-github-square:before {
  content: "\e14c";
}
.emm-glass:before {
  content: "\e14d";
}
.emm-globe:before {
  content: "\e14e";
}
.emm-google:before {
  content: "\e14f";
}
.emm-google-plus:before {
  content: "\e150";
}
.emm-google-plus-square:before {
  content: "\e151";
}
.emm-google-wallet:before {
  content: "\e152";
}
.emm-graduation-cap:before {
  content: "\e153";
}
.emm-gratipay:before {
  content: "\e154";
}
.emm-h-square:before {
  content: "\e155";
}
.emm-hacker-news:before {
  content: "\e156";
}
.emm-hand-lizard-o:before {
  content: "\e157";
}
.emm-hand-o-down:before {
  content: "\e158";
}
.emm-hand-o-left:before {
  content: "\e159";
}
.emm-hand-o-right:before {
  content: "\e15a";
}
.emm-hand-o-up:before {
  content: "\e15b";
}
.emm-hand-paper-o:before {
  content: "\e15c";
}
.emm-hand-peace-o:before {
  content: "\e15d";
}
.emm-hand-pointer-o:before {
  content: "\e15e";
}
.emm-hand-rock-o:before {
  content: "\e15f";
}
.emm-hand-scissors-o:before {
  content: "\e160";
}
.emm-hand-spock-o:before {
  content: "\e161";
}
.emm-hdd-o:before {
  content: "\e162";
}
.emm-header:before {
  content: "\e163";
}
.emm-headphones:before {
  content: "\e164";
}
.emm-heart:before {
  content: "\e165";
}
.emm-heart-o:before {
  content: "\e166";
}
.emm-heartbeat:before {
  content: "\e167";
}
.emm-history:before {
  content: "\e168";
}
.emm-home:before {
  content: "\e169";
}
.emm-hospital-o:before {
  content: "\e16a";
}
.emm-hourglass:before {
  content: "\e16b";
}
.emm-hourglass-end:before {
  content: "\e16c";
}
.emm-hourglass-half:before {
  content: "\e16d";
}
.emm-hourglass-o:before {
  content: "\e16e";
}
.emm-hourglass-start:before {
  content: "\e16f";
}
.emm-houzz:before {
  content: "\e170";
}
.emm-html5:before {
  content: "\e171";
}
.emm-i-cursor:before {
  content: "\e172";
}
.emm-ils:before {
  content: "\e173";
}
.emm-inbox:before {
  content: "\e174";
}
.emm-indent:before {
  content: "\e175";
}
.emm-industry:before {
  content: "\e176";
}
.emm-info:before {
  content: "\e177";
}
.emm-info-circle:before {
  content: "\e178";
}
.emm-inr:before {
  content: "\e179";
}
.emm-instagram:before {
  content: "\e17a";
}
.emm-internet-explorer:before {
  content: "\e17b";
}
.emm-ioxhost:before {
  content: "\e17c";
}
.emm-italic:before {
  content: "\e17d";
}
.emm-joomla:before {
  content: "\e17e";
}
.emm-jpy:before {
  content: "\e17f";
}
.emm-jsfiddle:before {
  content: "\e180";
}
.emm-key:before {
  content: "\e181";
}
.emm-keyboard-o:before {
  content: "\e182";
}
.emm-krw:before {
  content: "\e183";
}
.emm-language:before {
  content: "\e184";
}
.emm-laptop:before {
  content: "\e185";
}
.emm-lastfm:before {
  content: "\e186";
}
.emm-lastfm-square:before {
  content: "\e187";
}
.emm-leaf:before {
  content: "\e188";
}
.emm-leanpub:before {
  content: "\e189";
}
.emm-lemon-o:before {
  content: "\e18a";
}
.emm-level-down:before {
  content: "\e18b";
}
.emm-level-up:before {
  content: "\e18c";
}
.emm-life-ring:before {
  content: "\e18d";
}
.emm-lightbulb-o:before {
  content: "\e18e";
}
.emm-line-chart:before {
  content: "\e18f";
}
.emm-link:before {
  content: "\e190";
}
.emm-linkedin:before {
  content: "\e191";
}
.emm-linkedin-square:before {
  content: "\e192";
}
.emm-linux:before {
  content: "\e193";
}
.emm-list:before {
  content: "\e194";
}
.emm-list-alt:before {
  content: "\e195";
}
.emm-list-ol:before {
  content: "\e196";
}
.emm-list-ul:before {
  content: "\e197";
}
.emm-location-arrow:before {
  content: "\e198";
}
.emm-lock:before {
  content: "\e199";
}
.emm-long-arrow-down:before {
  content: "\e19a";
}
.emm-long-arrow-left:before {
  content: "\e19b";
}
.emm-long-arrow-right:before {
  content: "\e19c";
}
.emm-long-arrow-up:before {
  content: "\e19d";
}
.emm-magic:before {
  content: "\e19e";
}
.emm-magnet:before {
  content: "\e19f";
}
.emm-male:before {
  content: "\e1a0";
}
.emm-map:before {
  content: "\e1a1";
}
.emm-map-marker:before {
  content: "\e1a2";
}
.emm-map-o:before {
  content: "\e1a3";
}
.emm-map-pin:before {
  content: "\e1a4";
}
.emm-map-signs:before {
  content: "\e1a5";
}
.emm-mars:before {
  content: "\e1a6";
}
.emm-mars-double:before {
  content: "\e1a7";
}
.emm-mars-stroke:before {
  content: "\e1a8";
}
.emm-mars-stroke-h:before {
  content: "\e1a9";
}
.emm-mars-stroke-v:before {
  content: "\e1aa";
}
.emm-maxcdn:before {
  content: "\e1ab";
}
.emm-meanpath:before {
  content: "\e1ac";
}
.emm-medium:before {
  content: "\e1ad";
}
.emm-medkit:before {
  content: "\e1ae";
}
.emm-meh-o:before {
  content: "\e1af";
}
.emm-mercury:before {
  content: "\e1b0";
}
.emm-microphone:before {
  content: "\e1b1";
}
.emm-microphone-slash:before {
  content: "\e1b2";
}
.emm-minus:before {
  content: "\e1b3";
}
.emm-minus-circle:before {
  content: "\e1b4";
}
.emm-minus-square:before {
  content: "\e1b5";
}
.emm-minus-square-o:before {
  content: "\e1b6";
}
.emm-mobile:before {
  content: "\e1b7";
}
.emm-money:before {
  content: "\e1b8";
}
.emm-moon-o:before {
  content: "\e1b9";
}
.emm-motorcycle:before {
  content: "\e1ba";
}
.emm-mouse-pointer:before {
  content: "\e1bb";
}
.emm-music:before {
  content: "\e1bc";
}
.emm-neuter:before {
  content: "\e1bd";
}
.emm-newspaper-o:before {
  content: "\e1be";
}
.emm-object-group:before {
  content: "\e1bf";
}
.emm-object-ungroup:before {
  content: "\e1c0";
}
.emm-odnoklassniki:before {
  content: "\e1c1";
}
.emm-odnoklassniki-square:before {
  content: "\e1c2";
}
.emm-opencart:before {
  content: "\e1c3";
}
.emm-openid:before {
  content: "\e1c4";
}
.emm-opera:before {
  content: "\e1c5";
}
.emm-optin-monster:before {
  content: "\e1c6";
}
.emm-outdent:before {
  content: "\e1c7";
}
.emm-pagelines:before {
  content: "\e1c8";
}
.emm-paint-brush:before {
  content: "\e1c9";
}
.emm-paper-plane:before {
  content: "\e1ca";
}
.emm-paper-plane-o:before {
  content: "\e1cb";
}
.emm-paperclip:before {
  content: "\e1cc";
}
.emm-paragraph:before {
  content: "\e1cd";
}
.emm-pause:before {
  content: "\e1ce";
}
.emm-paw:before {
  content: "\e1cf";
}
.emm-paypal:before {
  content: "\e1d0";
}
.emm-pencil:before {
  content: "\e1d1";
}
.emm-pencil-square:before {
  content: "\e1d2";
}
.emm-pencil-square-o:before {
  content: "\e1d3";
}
.emm-phone:before {
  content: "\e1d4";
}
.emm-phone-square:before {
  content: "\e1d5";
}
.emm-picture-o:before {
  content: "\e1d6";
}
.emm-pie-chart:before {
  content: "\e1d7";
}
.emm-pied-piper:before {
  content: "\e1d8";
}
.emm-pied-piper-alt:before {
  content: "\e1d9";
}
.emm-pinterest:before {
  content: "\e1da";
}
.emm-pinterest-p:before {
  content: "\e1db";
}
.emm-pinterest-square:before {
  content: "\e1dc";
}
.emm-plane:before {
  content: "\e1dd";
}
.emm-play:before {
  content: "\e1de";
}
.emm-play-circle:before {
  content: "\e1df";
}
.emm-play-circle-o:before {
  content: "\e1e0";
}
.emm-plug:before {
  content: "\e1e1";
}
.emm-plus:before {
  content: "\e1e2";
}
.emm-plus-circle:before {
  content: "\e1e3";
}
.emm-plus-square:before {
  content: "\e1e4";
}
.emm-plus-square-o:before {
  content: "\e1e5";
}
.emm-power-off:before {
  content: "\e1e6";
}
.emm-print:before {
  content: "\e1e7";
}
.emm-puzzle-piece:before {
  content: "\e1e8";
}
.emm-qq:before {
  content: "\e1e9";
}
.emm-qrcode:before {
  content: "\e1ea";
}
.emm-question:before {
  content: "\e1eb";
}
.emm-question-circle:before {
  content: "\e1ec";
}
.emm-quote-left:before {
  content: "\e1ed";
}
.emm-quote-right:before {
  content: "\e1ee";
}
.emm-random:before {
  content: "\e1ef";
}
.emm-rebel:before {
  content: "\e1f0";
}
.emm-recycle:before {
  content: "\e1f1";
}
.emm-reddit:before {
  content: "\e1f2";
}
.emm-reddit-square:before {
  content: "\e1f3";
}
.emm-refresh:before {
  content: "\e1f4";
}
.emm-registered:before {
  content: "\e1f5";
}
.emm-renren:before {
  content: "\e1f6";
}
.emm-repeat:before {
  content: "\e1f7";
}
.emm-reply:before {
  content: "\e1f8";
}
.emm-reply-all:before {
  content: "\e1f9";
}
.emm-retweet:before {
  content: "\e1fa";
}
.emm-road:before {
  content: "\e1fb";
}
.emm-rocket:before {
  content: "\e1fc";
}
.emm-rss:before {
  content: "\e1fd";
}
.emm-rss-square:before {
  content: "\e1fe";
}
.emm-rub:before {
  content: "\e1ff";
}
.emm-safari:before {
  content: "\e200";
}
.emm-scissors:before {
  content: "\e201";
}
.emm-search:before {
  content: "\e202";
}
.emm-search-minus:before {
  content: "\e203";
}
.emm-search-plus:before {
  content: "\e204";
}
.emm-sellsy:before {
  content: "\e205";
}
.emm-server:before {
  content: "\e206";
}
.emm-share:before {
  content: "\e207";
}
.emm-share-alt:before {
  content: "\e208";
}
.emm-share-alt-square:before {
  content: "\e209";
}
.emm-share-square:before {
  content: "\e20a";
}
.emm-share-square-o:before {
  content: "\e20b";
}
.emm-shield:before {
  content: "\e20c";
}
.emm-ship:before {
  content: "\e20d";
}
.emm-shirtsinbulk:before {
  content: "\e20e";
}
.emm-shopping-cart:before {
  content: "\e20f";
}
.emm-sign-in:before {
  content: "\e210";
}
.emm-sign-out:before {
  content: "\e211";
}
.emm-signal:before {
  content: "\e212";
}
.emm-simplybuilt:before {
  content: "\e213";
}
.emm-sitemap:before {
  content: "\e214";
}
.emm-skyatlas:before {
  content: "\e215";
}
.emm-skype:before {
  content: "\e216";
}
.emm-slack:before {
  content: "\e217";
}
.emm-sliders:before {
  content: "\e218";
}
.emm-slideshare:before {
  content: "\e219";
}
.emm-smile-o:before {
  content: "\e21a";
}
.emm-sort:before {
  content: "\e21b";
}
.emm-sort-alpha-asc:before {
  content: "\e21c";
}
.emm-sort-alpha-desc:before {
  content: "\e21d";
}
.emm-sort-amount-asc:before {
  content: "\e21e";
}
.emm-sort-amount-desc:before {
  content: "\e21f";
}
.emm-sort-asc:before {
  content: "\e220";
}
.emm-sort-desc:before {
  content: "\e221";
}
.emm-sort-numeric-asc:before {
  content: "\e222";
}
.emm-sort-numeric-desc:before {
  content: "\e223";
}
.emm-soundcloud:before {
  content: "\e224";
}
.emm-space-shuttle:before {
  content: "\e225";
}
.emm-spinner:before {
  content: "\e226";
}
.emm-spoon:before {
  content: "\e227";
}
.emm-spotify:before {
  content: "\e228";
}
.emm-square:before {
  content: "\e229";
}
.emm-square-o:before {
  content: "\e22a";
}
.emm-stack-exchange:before {
  content: "\e22b";
}
.emm-stack-overflow:before {
  content: "\e22c";
}
.emm-star:before {
  content: "\e22d";
}
.emm-star-half:before {
  content: "\e22e";
}
.emm-star-half-o:before {
  content: "\e22f";
}
.emm-star-o:before {
  content: "\e230";
}
.emm-steam:before {
  content: "\e231";
}
.emm-steam-square:before {
  content: "\e232";
}
.emm-step-backward:before {
  content: "\e233";
}
.emm-step-forward:before {
  content: "\e234";
}
.emm-stethoscope:before {
  content: "\e235";
}
.emm-sticky-note:before {
  content: "\e236";
}
.emm-sticky-note-o:before {
  content: "\e237";
}
.emm-stop:before {
  content: "\e238";
}
.emm-street-view:before {
  content: "\e239";
}
.emm-strikethrough:before {
  content: "\e23a";
}
.emm-stumbleupon:before {
  content: "\e23b";
}
.emm-stumbleupon-circle:before {
  content: "\e23c";
}
.emm-subscript:before {
  content: "\e23d";
}
.emm-subway:before {
  content: "\e23e";
}
.emm-suitcase:before {
  content: "\e23f";
}
.emm-sun-o:before {
  content: "\e240";
}
.emm-superscript:before {
  content: "\e241";
}
.emm-table:before {
  content: "\e242";
}
.emm-tablet:before {
  content: "\e243";
}
.emm-tachometer:before {
  content: "\e244";
}
.emm-tag:before {
  content: "\e245";
}
.emm-tags:before {
  content: "\e246";
}
.emm-tasks:before {
  content: "\e247";
}
.emm-taxi:before {
  content: "\e248";
}
.emm-television:before {
  content: "\e249";
}
.emm-tencent-weibo:before {
  content: "\e24a";
}
.emm-terminal:before {
  content: "\e24b";
}
.emm-text-height:before {
  content: "\e24c";
}
.emm-text-width:before {
  content: "\e24d";
}
.emm-th:before {
  content: "\e24e";
}
.emm-th-large:before {
  content: "\e24f";
}
.emm-th-list:before {
  content: "\e250";
}
.emm-thumb-tack:before {
  content: "\e251";
}
.emm-thumbs-down:before {
  content: "\e252";
}
.emm-thumbs-o-down:before {
  content: "\e253";
}
.emm-thumbs-o-up:before {
  content: "\e254";
}
.emm-thumbs-up:before {
  content: "\e255";
}
.emm-ticket:before {
  content: "\e256";
}
.emm-times:before {
  content: "\e257";
}
.emm-times-circle:before {
  content: "\e258";
}
.emm-times-circle-o:before {
  content: "\e259";
}
.emm-tint:before {
  content: "\e25a";
}
.emm-toggle-off:before {
  content: "\e25b";
}
.emm-toggle-on:before {
  content: "\e25c";
}
.emm-trademark:before {
  content: "\e25d";
}
.emm-train:before {
  content: "\e25e";
}
.emm-transgender:before {
  content: "\e25f";
}
.emm-transgender-alt:before {
  content: "\e260";
}
.emm-trash:before {
  content: "\e261";
}
.emm-trash-o:before {
  content: "\e262";
}
.emm-tree:before {
  content: "\e263";
}
.emm-trello:before {
  content: "\e264";
}
.emm-tripadvisor:before {
  content: "\e265";
}
.emm-trophy:before {
  content: "\e266";
}
.emm-truck:before {
  content: "\e267";
}
.emm-try:before {
  content: "\e268";
}
.emm-tty:before {
  content: "\e269";
}
.emm-tumblr:before {
  content: "\e26a";
}
.emm-tumblr-square:before {
  content: "\e26b";
}
.emm-twitch:before {
  content: "\e26c";
}
.emm-twitter:before {
  content: "\e26d";
}
.emm-twitter-square:before {
  content: "\e26e";
}
.emm-umbrella:before {
  content: "\e26f";
}
.emm-underline:before {
  content: "\e270";
}
.emm-undo:before {
  content: "\e271";
}
.emm-university:before {
  content: "\e272";
}
.emm-unlock:before {
  content: "\e273";
}
.emm-unlock-alt:before {
  content: "\e274";
}
.emm-upload:before {
  content: "\e275";
}
.emm-usd:before {
  content: "\e276";
}
.emm-user:before {
  content: "\e277";
}
.emm-user-md:before {
  content: "\e278";
}
.emm-user-plus:before {
  content: "\e279";
}
.emm-user-secret:before {
  content: "\e27a";
}
.emm-user-times:before {
  content: "\e27b";
}
.emm-users:before {
  content: "\e27c";
}
.emm-venus:before {
  content: "\e27d";
}
.emm-venus-double:before {
  content: "\e27e";
}
.emm-venus-mars:before {
  content: "\e27f";
}
.emm-viacoin:before {
  content: "\e280";
}
.emm-video-camera:before {
  content: "\e281";
}
.emm-vimeo:before {
  content: "\e282";
}
.emm-vimeo-square:before {
  content: "\e283";
}
.emm-vine:before {
  content: "\e284";
}
.emm-vk:before {
  content: "\e285";
}
.emm-volume-down:before {
  content: "\e286";
}
.emm-volume-off:before {
  content: "\e287";
}
.emm-volume-up:before {
  content: "\e288";
}
.emm-weibo:before {
  content: "\e289";
}
.emm-weixin:before {
  content: "\e28a";
}
.emm-whatsapp:before {
  content: "\e28b";
}
.emm-wheelchair:before {
  content: "\e28c";
}
.emm-wifi:before {
  content: "\e28d";
}
.emm-wikipedia-w:before {
  content: "\e28e";
}
.emm-windows:before {
  content: "\e28f";
}
.emm-wordpress:before {
  content: "\e290";
}
.emm-wrench:before {
  content: "\e291";
}
.emm-xing:before {
  content: "\e292";
}
.emm-xing-square:before {
  content: "\e293";
}
.emm-y-combinator:before {
  content: "\e294";
}
.emm-yahoo:before {
  content: "\e295";
}
.emm-yelp:before {
  content: "\e296";
}
.emm-youtube:before {
  content: "\e297";
}
.emm-youtube-play:before {
  content: "\e298";
}
.emm-youtube-square:before {
  content: "\e299";
}
.emm-500px:before {
  content: "\e29a";
}
.emm-adjust:before {
  content: "\e29b";
}
.emm-adn:before {
  content: "\e29c";
}
.emm-align-center:before {
  content: "\e29d";
}
.emm-align-justify:before {
  content: "\e29e";
}
.emm-align-left:before {
  content: "\e29f";
}
.emm-align-right:before {
  content: "\e2a0";
}
.emm-amazon:before {
  content: "\e2a1";
}
.emm-ambulance:before {
  content: "\e2a2";
}
.emm-anchor:before {
  content: "\e2a3";
}
.emm-android:before {
  content: "\e2a4";
}
.emm-angellist:before {
  content: "\e2a5";
}
.emm-angle-double-down:before {
  content: "\e2a6";
}
