<div class="ui-sidebar" ng-hide="inventory.mbo.isNew()">
	<p class="ui-section" translate="ACTIONS">Actions</p>
	<ul class="ui-listview ui-inset">
		<li class="ui-divider ui-divider-c" translate="SYNCHRONIZATION">Synchronization</li>
		<li>
			<a emm-sync>
				<img src="../../images/sync.png">
				<h3 translate="SYNCSERVER">Sync with Server</h3>
				<span ng-if="DOCREQUEST"><img class="ui-attachment-request" ng-src="../../images/download.png" /></span>
				<span class="ui-badge ui-badge-b" ng-show="TXNCOUNT != null">{{TXNCOUNT}}</span>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li>
			<a emm-online="inventor/view.action?id={{inventory.INVENTORYID}}">
				<img src="../../images/online.png">
				<h3 translate="GOONLINE">Go Back Online</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li>
			<a emm-sync-res>
				<img src="../../images/map.png" />
				<h3 translate="EZMAXMOBILE.TXNTRACK">Sync Resolution</h3>
				<span class="ui-badge ui-badge-a" ng-show="TXNERRORCOUNT != null">{{TXNERRORCOUNT}}</span>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li class="ui-divider ui-divider-c" translate="ACTIONS">Actions</li>
		<li>
			<a ng-click="actions.toPhysicalCount(inventory)">
				<img src="../../images/balance.png">
				<h3 translate="INVBALANCES.PHYSCNT">Physical Count</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
	</ul>
</div>