<!DOCTYPE html>

<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
			<div class="ui-header ui-header-b">
	            <a ng-click="goBack()" class="ui-btn-left"><span class="emm-chevron-left"></span></a>
	            <h3 class="ui-title" translate="EZMAXMOBILE.INVENTOR">Inventory</h3>
	            <a ng-click="barcodeScan()" class="ui-btn-right"><span class="emm-barcode-3"></span></a>
				<div class="ui-statusbar ui-statusbar-d" ng-show="message != null"><h3 class="ui-title">{{message}}</h3></div>
	        </div>
	        <div class="ui-statusbar ui-statusbar-f">
				<h5 class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-searchbar">
				<form ng-submit="quickSearch()">
					<input type="search" placeholder="{{ 'QUICKSEARCH' | translate }}" ng-model="pageService.search"/>
				</form>
			</div>			
			<div class="ui-content">
				<ul class="ui-listview">
					<li class="ui-divider ui-divider-c" translate="INVENTORYBYSR">Inventory by Storeroom</li>
					<li ng-repeat="sr in storerooms">
						<a ng-click="confirmCycleCount(sr.LOCATION)">
							<p class="ui-aside">{{sr.SITEID}}</p>
							<h3>{{sr.DESCRIPTION}}</h3>
							<p>{{sr.LOCATION}}</p>
							<span class="ui-arrow"></span>
						</a>
					</li>
				</ul>
				<ul class="ui-listview">
					<li class="ui-divider ui-divider-c" translate="SYNCHRONIZATION">Synchronization</li>
					<li>
						<a emm-sync>
							<span class="emm-sync"></span>
							<h3 translate="SYNCSERVER">Sync with Server</h3>
							<span ng-if="DOCREQUEST"><span class="ui-attachment-request emm-download-1"></span></span>
							<span class="ui-badge ui-badge-b" ng-show="TXNCOUNT != null">{{TXNCOUNT}}</span>
							<span class="ui-arrow"></span>
						</a>
					</li>
					<li>
						<a emm-online="inventor/main">
							<span class="emm-online"></span>
							<h3 translate="GOONLINE">Go Back Online</h3>
							<span class="ui-arrow"></span>
						</a>
					</li>
					<li>
						<a emm-sync-res>
							<span class="emm-stack-records"></span>
							<h3 translate="EZMAXMOBILE.TXNTRACK">Sync Resolution</h3>
							<span class="ui-badge ui-badge-a" ng-show="TXNERRORCOUNT != null">{{TXNERRORCOUNT}}</span>
							<span class="ui-arrow"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			function MainController($scope, $window, inventoryService, paginationService){
				var viewName = "offline/inventor/main.htm";
				var queryName = 'INVENTORY';
				
				EMMServer.Offline.setSyncViewName(viewName);
				EMMServer.Offline.setDefaultOnlineAction('inventor/main.action');				
				
				$scope.userInfo = EMMServer.DB.getUserInfo();
				$scope.storerooms = EMMServer.DB.getQueryResult("STOREROOMS");
				$scope.TXNCOUNT = EMMServer.DB.getUserTxnCount();
				$scope.DOCREQUEST = EMMServer.DB.getUserDocRequest();
				$scope.TXNERRORCOUNT = EMMServer.DB.getUserTxnErrorCount();
				
				inventoryService.init({
					userInfo: $scope.userInfo,
					viewName: viewName
				});
				
				paginationService.init({
					queryName : queryName,
					viewName : viewName
				});
				
				$scope.pageService = paginationService;			
				
				$scope.confirmCycleCount = function (location){		
					msg = 'Perform cycle count for ' + location;
					
					emm.util.confirm({
						title:'Cycle Count?',
					  message: msg, yes: function(){
						  inventoryService.setMode('cyclecount');
						  inventoryService.setHide('yes');
						  EMMServer.Session.setItem('storeroom', location)	
						  inventoryService.toList(location);
					  },
					  no: function(){
						 // inventoryService.setMode('origin');
						 // inventoryService.setHide('no');
						  inventoryService.toList(location); 
					  },
					  yesText :'Yes',
					  noCssClass: 'ui-btn-a',
					  noText:'No'
					});
				} 
				
				var messages = EMMServer.DB.getQueryResult("MESSAGE");
				if (messages)
					$scope.message = messages[0].DISPLAYMESSAGE;
				
				$scope.quickSearch = function() {
					inventoryService.setMode('origin');
					inventoryService.toSearchList($scope.pageService.search);
				}
				
				$scope.barcodeScan = function (){
					EMMServer.Barcode.scan('scan');
				};
				
				$window.scan = function(/*Scan Value*/ val){
					$scope.pageService.search = val;
					$scope.quickSearch();	
				}	
				
				$scope.goBack = function(){
					if($scope.userInfo.nativeAppSettings.offlineStartCenterEnabled && $scope.userInfo.nativeAppSettings.sqliteEnabled){
						EMMServer.DB.Select()
							.addQuery("STARTCENTER","SELECT * FROM STARTCENTER ORDER BY DESCRIPTION")
							.addQuery("PORTLET","SELECT * FROM PORTLET WHERE SCCONFIGID IN (SELECT SCCONFIGID FROM STARTCENTER WHERE ISDEFAULT = '1') ORDER BY ORDERNUM ASC")
							.submit("offline/login/default.htm",true);
					}
					else{
						EMMServer.DB.Select()
						.addQuery("DUMMY", "SELECT 1")
						.submit("offline/login/index.htm", true);
					}
				};
			}
		</script>
	</body>
</html>