<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
			<div class="ui-header ui-header-b">
				<a ng-click="goBack()" class="ui-btn-left"><span class="emm-chevron-left"></span></a>
				<h3 class="ui-title" translate="EZMAXMOBILE.ASSET">Asset</h3>
				<a ng-click="barcodeScan()" class="ui-btn-right"><span class="emm-barcode-3"></span></a>
			</div>
			<div class="ui-statusbar ui-statusbar-f">
				<h5 class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-searchbar">
				<form ng-submit="quickSearch()">
					<input type="search" placeholder="{{ 'QUICKSEARCH' | translate }}" ng-model="pageService.search"/>
					<a class="ui-btn-side ui-btn-side-b" ng-click="advancedSearch()" translate="ADVANCED">Advanced</a>
				</form>
			</div>	
			<div class="ui-statusbar ui-statusbar-c" ng-hide="assets">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
			<div class="ui-content">
				<ul class="ui-listview">
					<li class="ui-field ui-sort">
						<label translate="SORTBY">Sort By</label>
						<select ng-change="pageService.changeSortBy()" ng-model="pageService.sortBy" ng-options="o.label for o in pageService.sortOptions">
						</select>
						<a ng-click="pageService.changeSortDirection()" class="ui-btn-sort"><span data-sortorder="{{pageService.sortDirection}}"></span></a>
					</li>
				</ul>
				<ul class="ui-listview" ng-show="assets">
					<li class="ui-divider ui-divider-c" translate="LIST">List</li>
					<li ng-show="userInfo.nativeAppSettings.emmMapEnabled">
						<a data-control="map" data-modules='["DS_ASSETS"]' data-datasources='{{dataSources}}'>
							<span class="emm-map-location"></span>
							<h3 translate="OPENMAP">Open Map</h3>
							<span class="ui-arrow"></span>
						</a>
					</li>					
				</ul>
				
			    <ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
				
				<ul class="ui-listview" ng-repeat="a in assets">
					<li>
						<a ng-click="showDetail(a)">
							<span class="ui-accessory-left" ng-if="a.mbo.isDirty()">
								<span class="ui-circle ui-circle-c"></span>
							</span>
							<p class="ui-aside">{{a.SITEID}}</p>
							<p><strong>{{a.ASSETNUM}}</strong></p>
							<h3>{{a.DESCRIPTION}}</h3>
							<p>{{ 'ASSET.STATUS' | translate }}: {{a.STATUS}}</p>
							<p>{{ 'ASSET.LOCATION' | translate }}: {{a.LOCATION}}</p>
							<span class="ui-arrow"></span>
						</a>
					</li>
				</ul>
				
			    <ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>

			</div>
		</div>
		<script type="text/javascript">
			function MainController ($scope, $window, $filter, assetService, paginationService, applicationService, mapService){
				var viewName = 'offline/asset/list.htm',
					queryName = 'ASSET',
					appName = 'ASSET';
				
				EMMServer.Offline.setSyncViewName(viewName);
				
				$scope.userInfo = EMMServer.DB.getUserInfo();
				$scope.assets = EMMServer.DB.getMboSet('Asset', queryName);				
				
				assetService.init({
					userInfo : $scope.userInfo
				});						
				
				paginationService.init({
					pagination : $scope.assets.getPagination(),
					queryName : queryName,
					viewName : viewName,
					sortOptions : [
									{ label : getText('SELECTVALUE', null, 'Select Value'), value : ''},
									{ label : getText('ASSET.ASSETNUM', null, 'Asset'), value : 'ASSETNUM'},
									{ label : getText('ASSET.LOCATION', null, 'Location'), value : 'LOCATION'}
								]
				});
				$scope.pageService = paginationService;
				
				mapService.init({
					userInfo : $scope.userInfo
				});
				
				$scope.dataSources = mapService.getOptions().dataSources;
				
				$scope.showDetail = assetService.showDetail;
				
				$scope.goBack = function(){
					$scope.pageService.clearCache();					
					applicationService.goToApp(appName);
				}
				
				$scope.barcodeScan = function (){
					EMMServer.Barcode.scan('scan');
				};
				
				$window.scan = function(/*Scan Value*/ val){
					$scope.pageService.search = val;
					$scope.quickSearch();	
				}
				
				$scope.quickSearch = function() {
					assetService.toList($scope.pageService.search);
				}
				
				$scope.advancedSearch = assetService.toAdvancedSearch;			
			}
		</script>		
	</body>
</html>
