<div class="ui-sidebar" ng-hide="workorder.mbo.isNew()">
	<p class="ui-section" translate="ACTIONS">Actions</p>
	<ul class="ui-listview ui-inset">
		<li class="ui-divider ui-divider-c" translate="SYNCHRONIZATION">Synchronization</li>
		<li>
			<a emm-sync>
				<img src="../../images/sync.png">
				<h3 translate="SYNCSERVER">Sync with Server</h3>
				<span ng-if="DOCREQUEST"><img class="ui-attachment-request" ng-src="../../images/download.png" /></span>
				<span class="ui-badge" ng-show="TXNCOUNT != null">{{TXNCOUNT}}</span>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li>
			<a emm-online="plustwo/view.action?id={{workorder.WORKORDERID}}">
				<img src="../../images/online.png">
				<h3 translate="GOONLINE">Go Back Online</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li class="ui-divider ui-divider-c" translate="ACTIONS">Actions</li>
		<li ng-show="workorder.ISTASK == 1">
			<a ng-click="actions.toParent(workorder)">
				<img src="../../images/returnarrow.png">
				<h3 translate="PARENT">Parent</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
	    <li>
	        <a ng-click="actions.toChangeStatus(workorder)">
	        	<img src="../../images/changestatus.png">
	        	<h3 translate="CHANGESTATUS">Change Status</h3>
	        	<span class="ui-arrow"></span>
	        </a>
	    </li>
	    <li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.toTaskList(workorder)">
				<img src="../../images/tasks.png">
				<h3 translate="TASKS">Tasks</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<!-- <li>
			<a ng-click="actions.toNonStock(workorder)">
				<img src="../../images/material.png">
				<h3>Non-Stock</h3>
				<span class="ui-arrow"></span>
			</a>
		</li> -->
		<li ng-show="workorder.canAddActuals()">
			<a ng-click="actions.toLabTrans(workorder)">
				<img src="../../images/labor.png">
				<h3 translate="LABOR">Labor</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>	 
		<li class="ui-divider ui-divider-c"></li>
	<!-- 	<li ng-show="workorder.ISTASK != 1 && workorder.canAddPlans()">
			<a ng-click="actions.toWPLabor(workorder)">
				<img src="../../images/labor.png" />
				<h3 translate="PLANLABOR">Plan Labor</h3>
				<span class="ui-arrow"></span>
			</a>
		</li> -->
<!-- 		<li ng-show="workorder.ISTASK != 1 && workorder.canAddPlans()">
			<a ng-click="actions.toWPMaterial(workorder)">
				<img src="../../images/material.png" />
				<h3>Plan Materials</h3>
				<span class="ui-arrow"></span>
			</a>
		</li> -->
		
		<!-- <li ng-show="workorder.canAddActuals()">
			<a ng-click="actions.toMatUseTrans(workorder)">
				<img src="../../images/material.png">
				<h3 translate="MATERIALS">Materials</h3>
				<span class="ui-arrow"></span>
			</a>
		</li> -->
		
		<!-- <li ng-show="workorder.canAddActuals()">
			<a ng-click="actions.toToolTrans(workorder)">
				<img src="../../images/material.png">
				<h3 translate="TOOLS">Tools</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		 -->
		
<!-- 		<li>
			<a ng-click="actions.toClassify(workorder)">
				<img src="../../images/classification.png">
				<h3 translate="CLASSIFICATION">Classification</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
 -->		<li class="ui-divider ui-divider-c"></li>	
		<!-- <li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.toMultiAssets(workorder)">
				<img src="../../images/asset.png">
				<h3 translate="MULTIASSETS">Multiple Assets, Locations</h3>
				<span class="ui-arrow"></span>
			</a>
		</li> -->
		<li>
			<a ng-click="actions.reportDowntime(workorder)">
				<img src="../../images/downtime.png">
				<h3>Report Downtime</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>			
		<li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.toMeterList(workorder)">
				<img src="../../images/meter.png">
				<h3 translate="METERREADINGS">Enter Meter Readings</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		 <li ng-show="workorder.ISTASK != 1">
	        <a ng-click="plustassignmentService.toAssignments(workorder)">
	        	<img src="../../images/usergroup.png">
	        	<h3 translate="ASSIGNMENT.ASSIGNMENTS">Assignments</h3>
	        	<span class="ui-arrow"></span>
	        </a>
	    </li>	 	    
		<li class="ui-divider ui-divider-c"></li>		
		<li ng-show="workorder.ISTASK != 1 && !workorder.ORIGRECORDID">
			<a data-control="dialog" href="#createfollowupdialog">
				<img src="../../images/addfollowup.png">
				<h3 translate="CREATEFOLLOWUP">Create Follow Up</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.takeOwnership(workorder)">
				<img src="../../images/takeownership.png">
				<h3 translate="TAKEOWNERSHIP">Take Ownership</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.selectOwner(workorder)">
				<img src="../../images/selectowner.png">
				<h3 translate="SELECTOWNER">Select Owner</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li>
			<a ng-click="actions.toWorkLog(workorder)">
				<img src="../../images/notes.png">
				<h3 translate="WORKLOG.NAME">Work Log</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>
		<li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.toAttachments(workorder)">
				<img src="../../images/attachment.png">
				<h3 translate="ATTACHMENTS">Attachments</h3>
				<span class="ui-arrow"></span>
			</a>
		</li> 
		<li ng-show="workorder.ISTASK != 1">
			<a ng-click="actions.toFailureReporting(workorder)">
				<img src="../../images/failurereport.png">
				<h3 translate="FAILUREREPORTING">Failure Reporting</h3>
				<span class="ui-arrow"></span>
			</a>
		</li>		
		
	</ul>
	<div class="ui-btn-container" ng-show="workorder.canAddActuals()">
		<a ng-if="labtransInfo && labtransInfo.TIMERSTATUS != 'ACTIVE'" ng-click="actions.startTimer(workorder, labtransInfo)" class="ui-btn-e" translate="STARTTIMER">Start Timer</a>
		<a ng-if="labtransInfo && labtransInfo.TIMERSTATUS == 'ACTIVE'" ng-click="actions.stopTimer(workorder, labtransInfo)" class="ui-btn-c" translate="STOPTIMER">Stop Timer</a>
	</div>
</div>