<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page ui-inset">
			<emm:include value="../common/menu.htm"/>
			<div class="ui-header ui-header-b">
				<a ng-click="goBack()" class="ui-btn-left" translate="BACK">Back</a>
				<h3 class="ui-title" translate="EZMAXMOBILE.PLUSTWO">Work Order Tracking (Tr)</h3>
				<a ng-click="actions.saveWorkorder(workorder)" class="ui-btn-right" ng-class="{'ui-btn-c' : workorder.mbo.toBeSaved()}" translate="SAVE">Save</a>
			</div>
			<div class="ui-statusbar" ng-class="{'ui-statusbar-f': !workorder.mbo.isDirty(), 'ui-statusbar-c': workorder.mbo.isDirty()}">
				<h5 class="ui-title">{{'OFFLINEMODE' | translate}}<span ng-show="workorder.mbo.isDirty()">{{'SYNCNEEDED' | translate}}</span></h5>
			</div>
			<div class="ui-statusbar ui-statusbar-d" ng-show="message != null"><h3 class="ui-title">{{message}}</h3></div>
			<div class="ui-content">
				<ul class="ui-listview">
					<li class="ui-field">
						<label translate="WORKORDER.WONUM">Work Order</label>
						<input ng-model="workorder.WONUM" ng-readonly="workorder.mbo.isReadOnly('WONUM')" ng-required="workorder.mbo.isRequired('WONUM')">
					</li>
					<li class="ui-field-block">
						<label translate="WORKORDER.DESCRIPTION">Description</label>
						<textarea maxlength="100" ng-model="workorder.DESCRIPTION" ng-readonly="workorder.mbo.isReadOnly('DESCRIPTION')" ng-required="workorder.mbo.isRequired('DESCRIPTION')"></textarea>
					</li>
					<li class="ui-field-block">
						<label translate="WORKORDER.LONGDESCRIPTION">Details</label>
						<textarea data-htmleditor="true" ng-model="workorder.LONGDESCRIPTION" ng-readonly="workorder.mbo.isReadOnly('LONGDESCRIPTION')" ng-required="workorder.mbo.isRequired('LONGDESCRIPTION')"></textarea>
					</li>
					<li class="ui-field ui-details ui-readonly">
						<label translate="WORKORDER.STATUS">Status</label>
						<p>{{workorder.STATUS}}</p>
						<p>{{workorder.STATUSDATE | date : 'short'}}</p>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.PARENT">Parent WO</label>
						<input ng-model="workorder.PARENT" ng-readonly="workorder.mbo.isReadOnly('PARENT')" ng-required="workorder.mbo.isRequired('PARENT')">
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.SITEID">Site</label>
						<input ng-model="workorder.SITEID" ng-readonly="workorder.mbo.isReadOnly('SITEID')" ng-required="workorder.mbo.isRequired('SITEID')">
					</li>
					<li class="ui-field ui-field-auto ui-details">
						<label translate="WORKORDER.LOCATION">Location</label>
						<input disabled="true" ng-model="workorder.LOCATION" ng-readonly="workorder.mbo.isReadOnly('LOCATION')" ng-required="workorder.mbo.isRequired('LOCATION')">
						<a class="ui-arrow" data-control="dialog" href="#locationdialog"></a>
					</li>
					<li class="ui-field ui-field-auto ui-details">
						<label translate="Repair Facility">Repair Facility</label>
						<input disabled="true" ng-model="workorder.REPAIRFACILITY" ng-readonly="workorder.mbo.isReadOnly('REPAIRFACILITY')" ng-required="workorder.mbo.isRequired('REPAIRFACILITY')">
						<a class="ui-arrow" data-control="dialog" href="#repairfacilitydialog"></a>
					</li>
					<li class="ui-field ">
						<label translate="WORKORDER.ASSETNUM">Asset</label>
						<input disabled="true" ng-model="workorder.ASSETNUM" ng-readonly="workorder.mbo.isReadOnly('ASSETNUM')" ng-required="workorder.mbo.isRequired('ASSETNUM')">
						<a class="ui-arrow" data-control="dialog" href="#assetlookupdialog"></a>
					</li>
					<li class="ui-field">
						<label translate="Alias">Alias</label>
						<input disabled="true" ng-model="workorder.ALIAS" ng-readonly="workorder.mbo.isReadOnly('ALIAS')" ng-required="workorder.mbo.isRequired('ALIAS')">
						<a class="ui-arrow" data-control="dialog" href="#aliaslookupdialog"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.WORKTYPE">Work Type</label>
						<input disabled="true" ng-model="workorder.WORKTYPE" ng-readonly="workorder.mbo.isReadOnly('WORKTYPE')" ng-required="workorder.mbo.isRequired('WORKTYPE')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="WORKTYPE" data-display="WORKTYPE,WTYPEDESC"></a>
					</li>
					<li class="ui-field">
						<label translate="Using Department">Using Department</label>
						<input disabled="true" ng-model="workorder.AEPUSINGDEPARTMENT" ng-readonly="workorder.mbo.isReadOnly('AEPUSINGDEPARTMENT')" ng-required="workorder.mbo.isRequired('AEPUSINGDEPARTMENT')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="AEPUSINGDEPARTMENT" data-display="CUSTOMER,NAME"></a>
					</li>
					<!-- <li class="ui-field">
						<label translate="WORKORDER.WOPRIORITY">Priority</label>
						<input ng-model="workorder.WOPRIORITY" ng-readonly="workorder.mbo.isReadOnly('WOPRIORITY')" ng-required="workorder.mbo.isRequired('WOPRIORITY')">
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.GLACCOUNT">GL Account</label>
						<input ng-model="workorder.GLACCOUNT" ng-readonly="workorder.mbo.isReadOnly('GLACCOUNT')" ng-required="workorder.mbo.isRequired('GLACCOUNT')">
					</li> -->
					<!-- <li class="ui-field">
						<label translate="WORKORDER.FAILURECODE">Failure Class</label>
						<input disabled="true" ng-model="workorder.FAILURECODE" ng-readonly="workorder.mbo.isReadOnly('FAILURECODE')" ng-required="workorder.mbo.isRequired('FAILURECODE')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="FAILURECODE" data-display="FAILURECODE,DESCRIPTION"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.PROBLEMCODE">Problem Code</label>
						<input disabled="true" ng-model="workorder.PROBLEMCODE" ng-readonly="workorder.mbo.isReadOnly('PROBLEMCODE')" ng-required="workorder.mbo.isRequired('PROBLEMCODE')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="PROBLEMCODE" data-display="FAILURECODE,DESCRIPTION"></a>
					</li> -->
					<li class="ui-field ui-details ui-readonly">
						<label translate="WORKORDER.REPORTEDBY">Reported By</label>
						<p>{{workorder.REPORTEDBY}}</p>
						<p>{{workorder.REPORTDATE | date : 'short'}}</p>
					</li>
					<li class="ui-divider ui-divider-c" translate="Asset Details">Asset Details</li>					
					<li class="ui-field">
						<label translate="Year">YEAR</label>
						<p>{{assetInfo.PLUSTYEAR}}</p>
					</li>
					<li class="ui-field">
						<label translate="Make">Make</label>
						<p>{{assetInfo.AEPMAKE}}</p>
					</li>
					<li class="ui-field">
						<label translate="Model">Model</label>
						<p>{{assetInfo.PLUSTMODEL}}</p>
					</li>
					<li class="ui-field">
						<label translate="Manufacturer">Manufacturer</label>
						<p>{{assetInfo.MANUFACTURER}}</p>
					</li>
					<li class="ui-field">
						<label translate="VIN">VIN</label>
						<p>{{assetInfo.SERIALNUM}}</p>
					</li>
					<li class="ui-field">
						<label translate="Status">Status</label>
						<p>{{assetInfo.STATUS}}</p>
					</li>
					<li class="ui-field">
						<label translate="Operator">Operator</label>
						<p>{{assetInfo.PERSONID}}</p>
					</li>
					<li class="ui-divider ui-divider-c" translate="SCHEDULEINFO">Scheduling Info</li>					
					<li class="ui-field">
						<label translate="WORKORDER.TARGSTARTDATE">Target Start</label>
						<input disabled="true" id="TARGSTARTDATE" type="text" ng-model="workorder.TARGSTARTDATE" ng-change="workorder.mbo.onChange('TARGSTARTDATE')" ng-required="workorder.mbo.isRequired('TARGSTARTDATE')" ng-readonly="workorder.mbo.isReadOnly('TARGSTARTDATE')"></input>
						<a data-input="TARGSTARTDATE" data-datetype="datetime" data-control="datepicker" class="ui-datepicker" ng-show="workorder.mbo.isReadOnly('TARGSTARTDATE') == false"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.TARGCOMPDATE">Target Finish</label>
						<input disabled="true" id="TARGCOMPDATE" type="text" ng-model="workorder.TARGCOMPDATE" ng-change="workorder.mbo.onChange('TARGCOMPDATE')" ng-required="workorder.mbo.isRequired('TARGCOMPDATE')" ng-readonly="workorder.mbo.isReadOnly('TARGCOMPDATE')"></input>
						<a data-input="TARGCOMPDATE" data-datetype="datetime" data-control="datepicker" class="ui-datepicker" ng-show="workorder.mbo.isReadOnly('TARGCOMPDATE') == false"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.SCHEDSTART">Scheduled Start</label>
						<input disabled="true" id="SCHEDSTART" type="text" ng-model="workorder.SCHEDSTART" ng-change="workorder.mbo.onChange('SCHEDSTART')" ng-required="workorder.mbo.isRequired('SCHEDSTART')" ng-readonly="workorder.mbo.isReadOnly('SCHEDSTART')"></input>
						<a data-input="SCHEDSTART" data-datetype="datetime" data-control="datepicker" class="ui-datepicker" ng-show="workorder.mbo.isReadOnly('SCHEDSTART') == false"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.SCHEDFINISH">Scheduled Finish</label>
						<input disabled="true" id="SCHEDFINISH" type="text" ng-model="workorder.SCHEDFINISH" ng-change="workorder.mbo.onChange('SCHEDFINISH')" ng-required="workorder.mbo.isRequired('SCHEDFINISH')" ng-readonly="workorder.mbo.isReadOnly('SCHEDFINISH')"></input>
						<a data-input="SCHEDFINISH" data-datetype="datetime" data-control="datepicker" class="ui-datepicker" ng-show="workorder.mbo.isReadOnly('SCHEDFINISH') == false"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.ACTSTART">Actual Start</label>
						<input disabled="true" id="ACTSTART" type="text" ng-model="workorder.ACTSTART" ng-change="workorder.mbo.onChange('ACTSTART')" ng-required="workorder.mbo.isRequired('ACTSTART')" ng-readonly="workorder.mbo.isReadOnly('ACTSTART')"></input>
						<a data-input="ACTSTART" data-datetype="datetime" data-control="datepicker" class="ui-datepicker" ng-show="workorder.mbo.isReadOnly('ACTSTART') == false"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.ACTFINISH">Actual Finish</label>
						<input disabled="true" id="ACTFINISH" type="text" ng-model="workorder.ACTFINISH" ng-change="workorder.mbo.onChange('ACTFINISH')" ng-required="workorder.mbo.isRequired('ACTFINISH')" ng-readonly="workorder.mbo.isReadOnly('ACTFINISH')"></input>
						<a data-input="ACTFINISH" data-datetype="datetime" data-control="datepicker" class="ui-datepicker" ng-show="workorder.mbo.isReadOnly('ACTFINISH') == false"></a>
					</li>										
					<!-- <li class="ui-divider ui-divider-c" translate="RESPONSIBILITY">Responsibility</li>
					<li class="ui-field">
						<label translate="WORKORDER.SUPERVISOR">Supervisor</label>
						<input disabled="true" ng-model="workorder.SUPERVISOR" ng-readonly="workorder.mbo.isReadOnly('SUPERVISOR')" ng-required="workorder.mbo.isRequired('SUPERVISOR')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="SUPERVISOR" data-display="PERSONID,DISPLAYNAME"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.CREWID">Crew</label>
						<input disabled="true" ng-model="workorder.CREWID" ng-readonly="workorder.mbo.isReadOnly('CREWID')" ng-required="workorder.mbo.isRequired('CREWID')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="CREWID" data-display="VALUE,DESCRIPTION"></a>
					</li>
					<li class="ui-field">
						<label translate="WORKORDER.LEAD">Lead</label>
						<input disabled="true" ng-model="workorder.LEAD" ng-readonly="workorder.mbo.isReadOnly('LEAD')" ng-required="workorder.mbo.isRequired('LEAD')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="LEAD" data-display="PERSONID,DISPLAYNAME"></a>
					</li>					
					<li class="ui-field">
						<label translate="WORKORDER.PERSONGROUP">Work Group</label>
						<input disabled="true" ng-model="workorder.PERSONGROUP" ng-readonly="workorder.mbo.isReadOnly('PERSONGROUP')" ng-required="workorder.mbo.isRequired('PERSONGROUP')">
						<a class="ui-arrow" ng-click="domain($event, workorder)" data-field="PERSONGROUP" data-display="PERSONGROUP,DESCRIPTION"></a>
					</li>					
					<li class="ui-field ui-readonly" ng-hide="workorder.mbo.isNew()">
						<label translate="WORKORDER.OWNER">Owner</label>
						<input ng-model="workorder.OWNER" ng-readonly="true">
					</li>
					<li class="ui-field ui-readonly" ng-hide="workorder.mbo.isNew()">
						<label translate="WORKORDER.OWNERGROUP">Owner Group</label>
						<input ng-model="workorder.OWNERGROUP" ng-readonly="true">
					</li> -->
				</ul>	
				<emm:include value="actions.htm"/>			
			</div>
		</div>
		<div id="locationdialog" class="ui-dialog">
			<div class="ui-container">
				<div class="ui-header">
					<h1 class="ui-title" translate="WORKORDER.LOCATION">Location</h1>
				</div>
				<div class="ui-content">
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="domain($event, workorder)" data-field="LOCATION" data-display="LOCATION,DESCRIPTION,SYSTEMID" translate="LOOKUP">Lookup</a>
					</div>
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="locationDrilldown(workorder)" translate="DRILLDOWN">Drilldown</a>
					</div>	
				</div>
			</div>
		</div>
		<div id="assetlookupdialog" class="ui-dialog">
			<div class="ui-container">
				<div class="ui-header">
					<h1 class="ui-title" translate="WORKORDER.ASSETNUM">Asset</h1>
				</div>
				<div class="ui-content">
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="domain($event, workorder)" data-field="ASSETNUM" data-display="ASSETNUM,DESCRIPTION,LOCATION,ALIAS" translate="LOOKUP">Lookup</a>
					</div>
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="assetDrilldown(workorder)" translate="DRILLDOWN">Drilldown</a>
					</div>
				</div>
			</div>
		</div>
		<div id="aliaslookupdialog" class="ui-dialog">
			<div class="ui-container">
				<div class="ui-header">
					<h1 class="ui-title" translate="WORKORDER.ALIAS">Alias</h1>
				</div>
				<div class="ui-content">
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="domain($event, workorder)" data-field="ALIAS" data-display="ALIAS,DESCRIPTION,LOCATION,ASSETNUM" translate="LOOKUP">Lookup</a>
					</div>
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="assetDrilldown(workorder)" translate="DRILLDOWN">Drilldown</a>
					</div>
				</div>
			</div>
		</div>
		<div id="repairfacilitydialog" class="ui-dialog">
			<div class="ui-container">
				<div class="ui-header">
					<h1 class="ui-title" translate="Repair Facility">Repair Facility</h1>
				</div>
				<div class="ui-content">
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="domain($event, workorder)" data-field="REPAIRFACILITY" data-display="LOCATION,DESCRIPTION,TYPE,SITEID" translate="LOOKUP">Lookup</a>
					</div>
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="locationDrilldown(workorder)" translate="DRILLDOWN">Drilldown</a>
					</div>	
				</div>
			</div>
		</div>
		<div id="createfollowupdialog" class="ui-dialog">
			<div class="ui-container">
				<div class="ui-header">
					<h1 class="ui-title" translate="CREATEFOLLOWUP">Create Follow Up</h1>
				</div>
				<div class="ui-content">
					<div class="ui-btn-container">
						<a class="ui-btn-a" ng-click="actions.createFollowUp(workorder)" translate="YES">Yes</a>
					</div>
					<div class="ui-btn-container">
						<a class="ui-btn-b" data-dismiss="modal" translate="NO">No</a>
					</div>
				</div>
			</div>
		</div> 
		<script type="text/javascript">
			function MainController($scope, domainService, plustwoService, plustassignmentService) {
				var appName = 'PLUSTWO';
				var viewName = 'offline/plustwo/wotrack.htm';
				
				EMMServer.Offline.setSyncViewName(viewName);
				
				$scope.userInfo = EMMServer.DB.getUserInfo();
				$scope.TXNCOUNT = EMMServer.DB.getUserTxnCount();
				$scope.DOCREQUEST = EMMServer.DB.getUserDocRequest();
				
				// Init services
				// Set the return page so all lookups return to this page
				domainService.init({
					userInfo : $scope.userInfo,
					viewName : viewName
				});
				plustwoService.init({
					userInfo : $scope.userInfo,
					viewName : viewName
				});
				plustassignmentService.init({
					userInfo : $scope.userInfo,
					viewName : viewName
				});
				$scope.domain = domainService.domain;
				$scope.locationDrilldown = domainService.locationDrilldown;
				$scope.assetDrilldown = domainService.assetDrilldown;
				
				$scope.lookups = plustwoService.lookups;
				$scope.actions = plustwoService.actions;
				$scope.plustassignmentService = plustassignmentService;
				
				var messages = EMMServer.DB.getQueryResult("MESSAGE");
				if (messages)
					$scope.message = messages[0].DISPLAYMESSAGE;

				// Get Work Order object data
				var resultSet = EMMServer.DB.getQueryResult("WORKORDER");
				// Checks if record exists in case where autosync has been triggered
				if (!resultSet || !resultSet[0]){
					alert(getText('NORECORDEXIST', null, 'No record found or no longer exist'));
					plustwoService.toList(null,true);
					return false;
				}
				$scope.workorder = new WorkOrder(resultSet[0]);
				var extra = EMMServer.DB.getQueryResult("EXTRA");
				if (extra){
					extra = extra[0];
					$scope.labtransInfo = {
						LABTRANSID : extra.TIMERLABTRANSID,
						LABORCODE : extra.TIMERLABORCODE,
						CRAFT : extra.TIMERCRAFT,
						TIMERSTATUS : extra.TIMERSTATUS
					};
					
					$scope.assetInfo = {
						PLUSTYEAR : extra.PLUSTYEAR,
						AEPMAKE : extra.AEPMAKE,
						PLUSTMODEL : extra.PLUSTMODEL,
						MANUFACTURER : extra.MANUFACTURER,
						SERIALNUM : extra.SERIALNUM,
						STATUS : extra.STATUS,
						PERSONID : extra.PERSONID
					};	
					$scope.MXUSERInfo = {
							DEFAULTREPFAC : extra.DEFAULTREPFAC,					
						};			
				}
				
				var statusList = EMMServer.DB.getQueryResult("WOSTATUS");
				if(statusList){
					$scope.workorder.mbo.applyMaxStatusValue(statusList);
				}
				
				var bounce = EMMServer.DB.getQueryResult("BOUNCE");
				if (bounce){
					bounce = bounce[0];
					if (bounce.ISBOUNCE === '1')
						$scope.workorder.mbo.toBeSaved(true);
				}
				// *Important* to set app name
				$scope.workorder.mbo.appName(appName);
				
				$scope.goBack = function() {
					// Clear any changes and remove from session
					$scope.workorder.session.remove();
					plustwoService.toList(null,true);
				};				
			}
		</script>
	</body>
</html>