<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
			<div class="ui-header ui-header-b">
				<a class="ui-btn-left" ng-click="goBack()" translate="BACK">Back</a>
				<h3 class="ui-title" translate="EZMAXMOBILE.PLUSPSR">Service Requests (SP)</h3>
			</div>
			<div class="ui-statusbar ui-statusbar-f">
				<h5 class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-searchbar">
				<form ng-submit="quickSearch()">
					<input type="search" placeholder="{{ 'QUICKSEARCH' | translate }}" ng-model="pageService.search"/>
					<a class="ui-btn-side ui-btn-side-b" ng-click="advancedSearch()">Advanced</a>		
				</form>
			</div>	
			<div class="ui-statusbar ui-statusbar-c" ng-hide="srs">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
			<div class="ui-content">
				<ul class="ui-listview" ng-show="srs">
					<li class="ui-field ui-sort">
						<label translate="SORTBY">Sort By</label>
						<select ng-change="pageService.changeSortBy()" ng-model="pageService.sortBy" ng-options="o.label for o in pageService.sortOptions">
						</select>
						<a ng-click="pageService.changeSortDirection()" class="ui-btn-sort"><span data-sortorder="{{pageService.sortDirection}}"></span></a>
					</li>
				</ul>
				<ul class="ui-listview" ng-show="srs">
					<li class="ui-divider ui-divider-c" translate="LIST">List</li>
				</ul>
				<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
				<ul class="ui-listview" ng-repeat="sr in srs">
					<li>
						<a ng-click="showDetails(sr)">
							<span class="ui-accessory-left" ng-if="sr.mbo.isDirty()">
								<span class="ui-circle ui-circle-c"></span>
							</span>
							<p class="ui-aside">{{sr.SITEID}}</p>
							<p><strong>{{sr.TICKETID}} ({{sr.STATUS}})</strong></p>
							<h3>{{sr.DESCRIPTION}}</h3>
							<p>{{ 'SR.LOCATION' | translate }}: {{sr.LOCATION}}</p>
							<p>{{ 'SR.REPORTEDBY' | translate }}: {{sr.REPORTEDBY}}</p>
							<p>{{ 'SR.REPORTEDPRIORITY' | translate }}: {{sr.REPORTEDPRIORITY}}</p>
							<p>{{ 'SR.REPORTDATE' | translate }}: {{sr.REPORTDATE | date : 'short'}}</p>
							<span class="ui-arrow"></span>
						</a>
					</li>
				</ul>
				<ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
			</div>
		</div>
	<script type="text/javascript">
		function MainController($scope, applicationService, pluspsrService, paginationService){
			var viewName = "offline/pluspsr/list.htm",
				queryName = "SR",
				appName = "PLUSPSR";
			
			EMMServer.Offline.setSyncViewName(viewName);
			EMMServer.Offline.setDefaultOnlineAction('pluspsr/main.action');
			
			$scope.userInfo = EMMServer.DB.getUserInfo();				
			$scope.srs = EMMServer.DB.getMboSet('SR', queryName);
			
			// Init service
			pluspsrService.init({
				userInfo : $scope.userInfo,
				viewName: viewName
			});
			
			paginationService.init({
				pagination : $scope.srs.getPagination(),
				queryName : queryName,
				viewName : viewName,
				sortOptions : [
								{ label : getText('SELECTVALUE', null, 'Select Value'), value : ''},
								{ label : getText('SR.SR', null, 'Service Request'), value : 'TICKETID'},
								{ label : getText('SR.REPORTDATE', null, 'Report Date'), value : 'REPORTDATE'},
								{ label : getText('SR.LOCATION', null, 'Location'), value : 'LOCATION'},
								{ label : getText('SR.STATUS', null, 'Status'), value : 'STATUS'}
							]
			});
			$scope.pageService = paginationService;
			
			$scope.showDetails = pluspsrService.showDetails;
			
			$scope.quickSearch = function() {
				pluspsrService.toList($scope.pageService.search);
			}		
			
			$scope.advancedSearch = pluspsrService.toAdvancedSearch;	
			
			$scope.goBack = function(){
				$scope.pageService.clearCache();
				applicationService.goToApp(appName);
			}
			
		}
	</script>
	</body>
</html>