<!DOCTYPE html>
<html ng-app="emm" ng-controller="MainController" ng-cloak>
	<head>
		<title>EZMaxMobile - Offline</title>
		<emm:include value="../common/includes.htm"/>
	</head>
	<body>
		<div class="ui-page">
			<emm:include value="../common/menu.htm"/>
			<div class="ui-header ui-header-b">
				<a ng-click="goBack()" class="ui-btn-left" translate="BACK">Back</a>
				<h3 class="ui-title" translate="EZMAXMOBILE.PLUSTASSET">Asset (Tr)</h3>
			</div>
			<div class="ui-statusbar ui-statusbar-f">
				<h5 class="ui-title" translate="OFFLINEMODE">Offline Mode</h5>
			</div>
			<div class="ui-statusbar ui-statusbar-c" ng-hide="licenses">
				<h3 class="ui-title" translate="NORECORDS">No Records Found</h3>
			</div>
			<div class="ui-content">
				<ul class="ui-listview" ng-show="licenses">
					<li class="ui-field ui-readonly">
						<label translate="ASSET.ASSETNUM">Asset</label>						
						<p>{{licenses[0].ASSETNUM}}</p>
					</li>
						
					<li class="ui-divider ui-divider-c" translate="licenses">licenses</li>
				</ul>			
				
			    <ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>
				
				<ul class="ui-listview" ng-repeat="license in licenses">
					<li>
						<a>
							<p><strong>{{license.LICENSENUM}}</strong></p>
							<h3>{{license.DESCRIPTION}}</h3>
							<p>{{ 'ASSETLICENSE.STARTDATE' | translate }}: {{license.STARTDATE | date : 'short'}}</p>
							<p>{{ 'ASSETLICENSE.ENDDATE' | translate }}: {{license.ENDDATE | date : 'short'}}</p>	
						</a>
					</li>
				</ul>
				
			    <ul pagination class="ui-listview" ng-show="pageService.hasPages()"></ul>

			</div>
		</div>
		<script type="text/javascript">
			function MainController ($scope, $filter, paginationService){
				var viewName = 'offline/plustasset/listassetlicenses.htm',
					assetPage = 'offline/plustasset/asset.htm',
					queryName = 'LICENSES',
					appName = 'PLUSTASSET';
				
				EMMServer.Offline.setSyncViewName(viewName);
				
				$scope.userInfo = EMMServer.DB.getUserInfo();
				$scope.licenses = EMMServer.DB.getQueryResult(queryName);				
				
				paginationService.init({
					pagination : $scope.licenses.getPagination(),
					queryName : queryName,
					viewName : viewName
				});
				
				$scope.pageService = paginationService;
								
				$scope.goBack = function(){
					EMMServer.DB.Select().go(assetPage);
				}			
			}
		</script>		
	</body>
</html>
